{{ bread-crumbs
  links=(array
    (hash name="Dashboard" route="seller-dashboard")
    (hash name="Telco products" route="telco-products")
    (hash name="Passive Point-to-Point")
  )
}}
<div class="col-sm-10">
  <br>
  <h2 class="au-display-lg">Passive Point to Point - Dark Fibre</h2>
  <p>Please select the features and attributes of your TPA compliant product:</p>
  <hr>
  <h3 class="au-display-md">Availability</h3>
  <p>
    To be compliant with the TPA, this product must offer an <b>availability SLA of ≥99.9%.</b>
  </p>
  {{radio-button
    name="availability"
    value="yes"
    label="This product meets the requirement"
    field=(mut product.availability)
  }}
  {{radio-button
    name="availability"
    value="no"
    label="This product does NOT meet the requirement"
    field=(mut product.availability)
  }}
  <hr>
  <h3 class="au-display-md">Secondary services</h3>
  {{radio-button
    name="secondary-services"
    value="yes"
    label="Yes"
    field=(mut product.secondary)
  }}
  {{radio-button
    name="secondary-services"
    value="no"
    label="No"
    field=(mut product.secondary)
  }}
  <hr>
  <h3 class="au-display-md">Reach</h3>
  <div class="col-sm-5">
    {{checkbox-array
      name="intra-regional"
      label="Intra-regional"
      field=(mut product.reach)
    }}
    <br>
    <h3 class="au-display-md"> Location </h3>
    {{checkbox-array
      name="location-metro"
      label="Metro"
      field=(mut product.location)
      disabled=(not product.intraRegional)
    }}
    {{checkbox-array
      name="location-regional"
      label="Regional"
      field=(mut product.location)
      disabled=(not product.intraRegional)
    }}
    {{checkbox-array
      name="location-remote"
      label="Remote"
      field=(mut product.location)
      disabled=(not product.intraRegional)
    }}
  </div>
  <div class="col-sm-5">
    {{checkbox-array
      name="inter-regional"
      label="Inter-regional"
      field=(mut product.reach)
    }}
    <br>
    <h3 class="au-display-md"> Destination </h3>
    {{checkbox-array
      name="destination-metro"
      label="Metro"
      field=(mut product.destination)
      disabled=(not product.interRegional)
    }}
    {{checkbox-array
      name="destination-regional"
      label="Regional"
      field=(mut product.destination)
      disabled=(not product.interRegional)
    }}
    {{checkbox-array
      name="destination-remote"
      label="Remote"
      field=(mut product.destination)
      disabled=(not product.interRegional)
    }}
  </div>
</div>
<div class="clear-both"></div>
