<p>
  {{#if product.editable}}
    <a href="/product_form/{{product.id}}/{{step.code}}">
      {{step.name}}
    </a>
  {{else}}
    <u> {{step.name}} </u>
  {{/if}}
  <span class={{step.status}}>{{step.status}}</span>
  <hr>
</p>
