<div class="cool-infobox sapphire">
  {{fa-icon "info-circle" size="2x" prefix="fas"}}
  Please note that all fields are mandatory unless otherwise indicated.
</div>
<h4>Head office</h4>
<p>This is the business address of your head office.</p>
{{#if (eq form.apiErrors.addresses "Changes requested upon your previous submission")}}
  {{dds/validation-error type="warning" message=form.apiErrors.addresses isSimple=true class="error"}}
{{/if}}
{{#each form.addresses as |address index|}}
  {{#let (get form.apiErrors.addresses index) as |apiError|}}
    {{dds/radio-button
      isSimple=true
      name="showAddress"
      value=(concat 'address-' index)
      label="Show this address on my profile"
      class="mb-15"
      labelClass="b"
      field=(mut address.show_address)
      disabled=disabled
      description="Only one address can be displayed on supplier profiles at a time."
    }}

    {{dds/text-input
      isSimple=true
      label-text="Business address line 1"
      inputClass="maxw-550"
      field=(mut address.address)
      required=true
      showError=(or showError (not-eq form.status 'todo'))
      apiError=apiError.address
    }}
    
    {{dds/text-input
      isSimple=true
      label-text="Business address line 2"
      inputClass="maxw-550"
      field=(mut address.address_2)
      apiError=apiError.address_2
      showError=(or showError (not-eq form.status 'todo'))
    }}
    
    {{dds/text-input
      isSimple=true
      label-text="Business address line 3"
      inputClass="maxw-550"
      field=(mut address.address_3)
      apiError=apiError.address_3
      showError=(or showError (not-eq form.status 'todo'))
    }}
    
    <div class="row">
      {{dds/text-input
        isSimple=true
        label-text="Suburb or town"
        class="col-sm-21"
        field=(mut address.suburb)
        required=true
        showError=(or showError (not-eq form.status 'todo'))
        apiError=apiError.suburb
      }}

      {{dds/text-input
        isSimple=true
        label-text="Postcode or ZIP"
        class="col-sm-9"
        field=(mut address.postcode)
        required=true
        showError=(or showError (not-eq form.status 'todo'))
        signal=form.signal
        apiError=apiError.postcode
      }}
    </div>

    <div class="row">
      {{dds/select-box
        field=(mut address.state)
        label-text="State or territory"
        class="col-sm-18"
        selectClass="maxw-300"
        isSimple=true
        items=(array
          (hash value="nsw" label="New South Wales")
          (hash value="act" label="Australian Capital Territory")
          (hash value="nt" label="Northern Territory")
          (hash value="qld" label="Queensland")
          (hash value="sa" label="South Australia")
          (hash value="tas" label="Tasmania")
          (hash value="vic" label="Victoria")
          (hash value="wa" label="Western Australia")
          (hash value="outside_au" label="Outside Australia")
        )
        required=true
        showError=(or showError (not-eq form.status 'todo'))
        apiError=apiError.state
      }}
      
      {{dds/select-box
        field=(mut address.country)
        label-text="Country"
        class="col-sm-18"
        selectClass="maxw-300"
        isSimple=true
        items=countries
        required=true
        showError=(or showError (not-eq form.status 'todo'))
        signal=form.signal
        apiError=apiError.country
      }}
    </div>
    {{#if (gt index 0)}}
      {{dds/tertiary-button
        label="Discard this address"
        onClick=(action "removeAddress" index)
      }}
    {{/if}}
      {{dds/top-link}}
    {{#if (or (eq index 0) (lt index (dec form.addresses.length)))}}
      <hr />
    {{/if}}
  {{/let}}
{{/each}}

{{#if (lt form.addresses.length 6)}}
  <h5>Additional locations</h5>
  <p>List any additional business locations in Australia.</p>
  {{dds/tertiary-button
    label="Add an address"
    icon="plus-circle"
    iconSize="2x"
    class="mb-15"
    isSimple=true
    onClick=(action "addAddress")
  }}
  <hr />
{{/if}}

{{#if (gt form.addresses.length 0)}}
  {{#if form.headOfficeRegional}}
    <h5>It looks like your head office is located in regional NSW. Would you like to identify your business as a regional NSW supplier?</h5>
    {{dds/radio-group
      class="mb-15"
      isSimple=true
      isOptional=true
      items=(array
        (hash
          key="true"
          label="Yes"
        )
        (hash
          key="false"
          label="No"
        )
      )
      field=(mut form.regional)
      showError=(or showError (not-eq form.status 'todo'))
      invalid=(v-get form 'regional' 'isInvalid')
      errorMessage=(v-get form 'regional' 'message')
      apiError=form.apiErrors.regional
    }}
    <hr />
  {{/if}}
  <h5>
    {{#if form.headOfficeAustralia}}
      It looks like your head office is located in Australia or New Zealand. Which best describes your business?
    {{else}}
      It looks like your head office is <u>not</u> located in Australia or New Zealand. Which best describes your business?
    {{/if}}
  </h5>
  {{dds/radio-group
    isSimple=true
    isOptional=true
    items=(if form.headOfficeAustralia
      (array
        (hash
          key="standalone"
          label="Australian or New Zealand company"
        )
        (hash
          key="subsidiary"
          label="Multinational (local subsidiary)"
        )
      )
      (array
        (hash
          key="overseas"
          label="International company not based in Australia or New Zealand"
        )
        (hash
          key="subsidiary"
          label="Multinational (local subsidiary)"
        )
      )
    )
    field=(mut form.corporate_structure)
    showError=(or showError (not-eq form.status 'todo'))
    invalid=(v-get form 'corporate_structure' 'isInvalid')
    errorMessage=(v-get form 'corporate_structure' 'message')
    apiError=form.apiErrors.corporate_structure
  }}
{{/if}}
