{{seller-profile/edit-save
  theme="sapphire"
  underEdit=(mut underEdit)
  class="f-r"
  afterSave=afterSave
  form=form
  secondary=true
}}
<h3>Business address</h3>
{{form-status status=form.status}}
<hr />
{{#if underEdit}}
  {{seller-account/business-address-edit class="sapphire-form" form=form}}
{{else}}
  {{seller-account/business-address-view form=form buyerView=true}}
{{/if}}
{{seller-profile/edit-save
  theme="sapphire"
  underEdit=(mut underEdit)
  class="a-r"
  afterSave=afterSave
  form=form
  secondary=true
}}
