<div class="cool-infobox sapphire">{{fa-icon "eye" prefix="fas" size="2x"}} 
  This information will appear on your supplier profile, but only to registered buyers.
</div>
<h4>Number of employees</h4>
<p>{{concat form.number_of_employees_label " employees"}}</p>
<hr />
<h4>Number employed in Australia</h4>
<p>{{concat form.australia_employees_label " employees"}}</p>
<hr />
<h4>Number employed in NSW</h4>
<p>{{concat form.nsw_employees_label " employees"}}</p>
<hr />
<h4>Business structure</h4>
<p>{{form.business_structure}}</p>
<hr />
<h4>Annual turnover</h4>
<p>{{form.annual_turnover_label}}</p>