{{seller-profile/edit-save
  theme="sapphire"
  underEdit=(mut underEdit)
  class="f-r"
  form=form
  afterSave=afterSave
  secondary=true
}}
<h3>Company type and size</h3>
{{form-status status=form.status}}
<hr />
{{#if underEdit}}
  {{seller-account/company-type-and-size-edit class="sapphire-form" form=form}}
{{else}}
  {{seller-account/company-type-and-size-view form=form buyerView=true}}
{{/if}}
{{seller-profile/edit-save
  theme="sapphire"
  underEdit=(mut underEdit)
  class="a-r"
  form=form
  afterSave=afterSave
  secondary=true
}}
