{{seller-profile/edit-save
  theme="sapphire"
  class="f-r"
  underEdit=(mut underEdit)
  form=form
}}
<h3>Contact details</h3>
{{form-status status=form.status}}
<hr />
{{#if underEdit}}
  {{seller-account/contact-detail-edit class="sapphire-form" form=form}}
{{else}}
  {{seller-account/contact-detail-view form=form buyerView=true}}
{{/if}}
{{seller-profile/edit-save
  theme="sapphire"
  class="a-r"
  underEdit=(mut underEdit)
  form=form
}}