{{seller-profile/edit-save
  theme="sapphire"
  underEdit=(mut underEdit)
  class="f-r"
  form=form
  afterSave=afterSave
  secondary=true
}}
<h3>Financial disclosures</h3>
{{form-status status=form.status}}
<hr />
<h4>What to provide</h4>
<p>
  Up-to-date financial statements help buyers to determine the financial stability of your organisation so that they can make an informed decision. These documents are required before a buyer is able to engage your business.
</p>
<p>
  Financial statements provide detailed information about the financial performance and position of your organisation. Ideally your financial statement should include your:
</p>
<ul>
  <li>profit or loss statement </li>
  <li>balance sheet </li>
  <li>statement of cash flows </li>
  <li>statement of changes in equity </li>
  <li>and notes to the financial statements. </li>
</ul>
<p>
  If you are unable to share the documents listed above, you can also ask your external accountant for a letter confirming your business can meet it's debts when they are due and doesn't have any issues that could impact your ability to deliver your products or services.
</p>
{{#if underEdit}}
  {{seller-account/financial-document-edit class="sapphire-form" form=form}}
{{else}}
  {{seller-account/financial-document-view form=form buyerView=true}}
{{/if}}
{{seller-profile/edit-save
  theme="sapphire"
  underEdit=(mut underEdit)
  class="a-r"
  form=form
  afterSave=afterSave
  secondary=true
}}
