<div class="cool-infobox sapphire">{{fa-icon "eye-slash" prefix="fas" size="2x"}} 
  This information will not appear on your supplier profile and will only be made available to interested buyers upon request. When a buyer requests your documentation, we will verify with you the records we hold are complete, accurate and up-to-date.
</div>
{{#if (or form.professional_indemnity_certificate_ids (or form.product_liability_certificate_ids form.workers_compensation_certificate_ids))}}
  <h4>You have provided the following documents</h4>
  <ul>
    {{#if form.professional_indemnity_certificate_ids}}
      <li>Professional indemnity insurance (expires {{form.professional_indemnity_certificate_expiry}})</li>
    {{/if}}
    {{#if form.product_liability_certificate_ids}}
      <li>Professional liability insurance (expires {{form.product_liability_certificate_expiry}})</li>
    {{/if}}
    {{#if form.workers_compensation_certificate_ids}}
      <li>Workers’ compensation insurance (expires {{form.workers_compensation_certificate_expiry}})</li>
    {{/if}}
  </ul>
{{else}}
  <h4>You have not yet provided any documents</h4>
{{/if}}