<div class="cool-infobox sapphire">{{fa-icon "eye" prefix="fas" size="2x"}} 
  <div>This information will appear on your supplier profile, but only to <b>registered buyers</b>.</div>
</div>
<h4>You have provided the following information</h4>
<p>Is your organisation in receivership, administration or unable to meet its debts as they fall due?</p>
{{#if (eq form.receivership 'true')}}
  <b>Yes</b>
  <p>{{form.receivership_details}}</p>
{{else}}
  <b>No</b>
{{/if}}
<hr />
<p>Are any of your organisation’s directors or principals currently considered a discharged bankrupt?</p>
{{#if (eq form.bankruptcy 'true')}}
  <b>Yes</b>
  <p>{{form.bankruptcy_details}}</p>
{{else}}
  <b>No</b>
{{/if}}
<hr />
<p>Has your organisation — or any of its directors or principals — been referred to or investigated by any agency, authority or regulator in connection with improper business practices in the last 5 years?</p>
{{#if (eq form.investigations 'true')}}
  <b>Yes</b>
  <p>{{form.investigations_details}}</p>
{{else}}
  <b>No</b>
{{/if}}
<hr />
<p>Has your organisation been involved in any action or procedure in a court of law in the last 5 years?</p>
{{#if (eq form.legal_proceedings 'true')}}
  <b>Yes</b>
  <p>{{form.legal_proceedings_details}}</p>
{{else}}
  <b>No</b>
{{/if}}
