{{seller-profile/edit-save
  theme="sapphire"
  underEdit=(mut underEdit)
  class="pull-right"
  form=form
}}
<h3>Legal disclosures</h3>
{{form-status status=form.status}}
<hr />
{{#if underEdit}}
  {{seller-account/legal-disclosure-edit class="sapphire-form" form=form}}
{{else}}
  {{seller-account/legal-disclosure-view form=form buyerView=true}}
{{/if}}
{{seller-profile/edit-save
  theme="sapphire"
  underEdit=(mut underEdit)
  class="pull-right"
  form=form
}}
