<div class="col-sm-30">
  <h1 class="au-display-lg">Apply to become a buyer</h1>
  <br>
  <p>
    <b>Full name</b>
    {{dds/text-input
      wide=true
      allRow=true
      field=(mut buyer.name)
      focusOut=(action (mut showNameError) true)
    }}
    {{#if (and showNameError (v-get this "buyer.name" "isInvalid"))}}
      <div class="max48">
        <span class="field-error error">{{v-get this "buyer.name" "message"}}</span>
      </div>
      <div class="clear-both"></div>
    {{/if}}
  </p>
  <p>
    <b>Organisation name</b><br>
    <small>Please enter in full, for example Department of Premier and Cabinet, not DPC.</small>
    {{dds/text-input
      wide=true
      allRow=true
      field=(mut buyer.organisation)
      focusOut=(action (mut showOrganisationError) true)
    }}
    {{#if (and showOrganisationError (v-get this "buyer.organisation" "isInvalid"))}}
      <div class="max48">
        <span class="field-error error">{{v-get this "buyer.organisation" "message"}}</span>
      </div>
      <div class="clear-both"></div>
    {{/if}}
  </p>
  <hr class="light">
  <p>
    <span class="float-right">
      {{dds/primary-button
        onClick=(action "next")
        disabled=(v-get this "isInvalid")
        label="Next"
      }}
    </span>
  </p>
</div>
