<footer
  class="au-footer au-footer--dark au-body au-body--dark"
  role="contentinfo"
>
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <h4>About buy.nsw</h4>
            <hr>
            <div>
              <a
                href="https://www.digital.nsw.gov.au/policy/buying-ict"
              >
                About the program
              </a>
            </div>
            <div><a href="/performance">Performance Dashboard</a></div>
            <div><a href="https://www.digital.nsw.gov.au/blog">Digital NSW blog</a></div>
            <div><a href="https://github.com/digitalnsw/buy-nsw">Source Code</a></div>
          </div>
          <div class="col-sm-4">
            <h4>Guidance</h4>
            <hr>
            <div>{{ link-to "Buyer Guide" "buyer-guide" }}</div>
            <div>{{ link-to "Seller Guide" "seller-guide" }}</div>
            <div><a href="https://www.procurepoint.nsw.gov.au/">Procurepoint</a></div>
          </div>
          <div class="col-sm-4">
            <h4>Help</h4>
            <hr>
            <div>{{ link-to "Contact us" "contact" }}</div>
          </div>
        </div>
      </div>
      
      <section class="col-sm-12">
        <div class="au-footer__end">
          <nav class="col-md-11">
            <ul class="au-link-list au-link-list--inline">
              <li>{{ link-to "Privacy Statement" "privacy" }}</li>
              <li>{{ link-to "Terms of use" "terms-of-use" }}</li>
              <li>{{ link-to "Accessibility statement" "accessibility" }}</li>
              <li>{{ link-to "License and attribution" "license" }}</li>
            </ul>
            <ul class="au-link-list au-link-list--inline">
              <li>Built by <a href="https://www.finance.nsw.gov.au/">NSW Department of Finance, Services and Innovation</a></li>
            </ul>
          </nav>
        </div>
      </section>

      {{#if auth.config.build_version}}
        <section class="col-sm-12">
          <div class="au-footer__end">
            <ul class="au-tags au-tags--dark">
              <li>
                <a
                  target="_blank"
                  href="https://github.com/digitalnsw/buy-nsw/commits/{{auth.config.build_version}}"
                >
                  {{auth.config.environment}} env ({{auth.config.build_version}}, built at {{auth.config.build_time}})
                </a>
              </li>
            </ul>
          </div>
        </section>
      {{/if}}

    </div>
  </div>
</footer>
