{{#ds/template-body}}
  {{ ds/bread-crumbs
    links=(array
      (hash name="buy.nsw" route="index")
      (hash name="Products and Services")
      (hash name="TPA")
    )
  }}
  <br>
  <div class="row">
    <div class="col-sm-4">
      <h2 class="au-display-xl underline-light">
        <b>TPA products</b>
      </h2>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <h2 class="au-display-lg">
        <b>Apply filters</b>
      </h2>
      <br>
      {{#ds/accordion-container title="Service towers" expanded=true collapsable=false}}
        {{ds/radio-group
          items=(array
            (hash
              key="all"
              label="All"
            )
            (hash
              key="fixed-data-services"
              label="Fixed data services"
            )
            (hash
              key="internet-services"
              label="Internet services"
            )
            (hash
              key="mobile-services"
              label="Mobile services"
            )
            (hash
              key="voice-services"
              label="Voice services"
            )
          )
          onChange=(action "changeServiceTower")
          field=(mut serviceTower)
        }}
      {{/ds/accordion-container}}
      <br>
      {{#ds/accordion-container title="Sellers" expanded=true}}
        {{ds/checkbox-array
          checkAll=true
          field=(mut sellers)
          break=true
          wide=true
          items=(array
            (hash
              key="dda"
              label="DDA"
            )
            (hash
              key="mynetfone"
              label="MyNetFone"
            )
            (hash
              key="optus"
              label="Optus"
            )
            (hash
              key="telstra"
              label="Telstra"
            )
            (hash
              key="tpg"
              label="TPG"
            )
            (hash
              key="transgrid"
              label="Transgrid"
            )
            (hash
              key="vertel"
              label="Vertal"
            )
            (hash
              key="vocus"
              label="Vocus"
            )
          )
        }}
      {{/ds/accordion-container}}
      {{#if (eq serviceTower "fixed-data-services")}}
        <br>
        {{#ds/accordion-container title="Fixed Data Services" expanded=true}}
          {{ds/checkbox-array
            checkAll=true
            field=(mut services)
            break=true
            wide=true
            items=(array
              (hash
                key="dark_fibre"
                label="P2P Dark Fibre"
              )
              (hash
                key="cwdm_dwdm"
                label="P2P CSDM / DWDM"
              )
              (hash
                key="fibre_channel"
                label="P2P Fibre Channel"
              )
              (hash
                key="l2vpn_ethernet"
                label="Unmanaged L2VPN"
              )
              (hash
                key="unmanaged_l3vpn"
                label="Unmanaged L3VPN"
              )
              (hash
                key="managed_l3vpn"
                label="Managed L3VPN"
              )
              (hash
                key="lowcost_l3vpn"
                label="Low-cost L3VPN"
              )
            )
          }}
        {{/ds/accordion-container}}
        <br>
        {{#ds/accordion-container title="Location" expanded=true}}
          {{ds/checkbox-array
            checkAll=true
            field=(mut locations)
            break=true
            wide=true
            items=(array
              (hash
                key="metro"
                label="Metro"
              )
              (hash
                key="regional"
                label="Regional"
              )
              (hash
                key="remote"
                label="Remote"
              )
            )
          }}
        {{/ds/accordion-container}}
        <br>
        {{#ds/accordion-container title="Bandwidth" expanded=true}}
          {{ds/checkbox-array
            checkAll=true
            field=(mut bandwidth)
            break=true
            wide=true
            items=(array
              (hash
                key="under-1000mbps"
                label="Under 1000 Mbps"
              )
              (hash
                key="1-10gbps"
                label="1-10 Gbps"
              )
              (hash
                key="10-50gbps"
                label="10-50 Gbps"
              )
              (hash
                key="50-100gbps"
                label="50-100 Gbps"
              )
              (hash
                key="over-100gbps"
                label="Over 100 Gbps"
              )
            )
          }}
        {{/ds/accordion-container}}
      {{/if}}
      {{#if (eq serviceTower "internet-services")}}
        <br>
        {{#ds/accordion-container title="Internet Services" expanded=true}}
          {{ds/checkbox-array
            checkAll=true
            field=(mut services)
            break=true
            wide=true
            items=(array
              (hash
                key="core_internet"
                label="Core Internet Uplink"
              )
              (hash
                key="peering_access"
                label="Peering Access"
              )
              (hash
                key="internet_access"
                label="Internet Access"
              )
              (hash
                key="internet_firewall"
                label="Internet - Firewall"
              )
              (hash
                key="internet_dns"
                label="Internet - DNS"
              )
              (hash
                key="web_filtering"
                label="Content Filtering"
              )
              (hash
                key="email_protection"
                label="Email Protection"
              )
              (hash
                key="reverse_proxy"
                label="Reverse Proxy"
              )
            )
          }}
        {{/ds/accordion-container}}
        <br>
        {{#ds/accordion-container title="Location" expanded=true}}
          {{ds/checkbox-array
            checkAll=true
            field=(mut locations)
            break=true
            wide=true
            items=(array
              (hash
                key="metro"
                label="Metro"
              )
              (hash
                key="regional"
                label="Regional"
              )
              (hash
                key="remote"
                label="Remote"
              )
            )
          }}
        {{/ds/accordion-container}}
      {{/if}}
      {{#if (eq serviceTower "voice-services")}}
        <br>
        {{#ds/accordion-container title="Voice Services" expanded=true}}
          {{ds/checkbox-array
            checkAll=true
            field=(mut services)
            break=true
            wide=true
            items=(array
              (hash
                key="sip_trunk"
                label="SIP Trunk"
              )
              (hash
                key="isdn_basic"
                label="ISDN - Basic Rate"
              )
              (hash
                key="isdn_primary"
                label="ISDN - Primary Rate"
              )
              (hash
                key="pstn_lines"
                label="PSTN Lines"
              )
              (hash
                key="number_block"
                label="In-Dial Number Blocks"
              )
              (hash
                key="inbound_call"
                label="Inbound Calling"
              )
              (hash
                key="outbound_call"
                label="Outbound Calling"
              )
              (hash
                key="pabx_replacement"
                label="Enterprise Voice Only"
              )
              (hash
                key="unified_communications"
                label="Unified Communications"
              )
              (hash
                key="call_centre"
                label="Call Centre"
              )
            )
          }}
        {{/ds/accordion-container}}
        <br>
        {{#ds/accordion-container title="Location" expanded=true}}
          {{ds/checkbox-array
            checkAll=true
            field=(mut locations)
            break=true
            wide=true
            items=(array
              (hash
                key="metro"
                label="Metro"
              )
              (hash
                key="regional"
                label="Regional"
              )
              (hash
                key="remote"
                label="Remote"
              )
            )
          }}
        {{/ds/accordion-container}}
        <br>
        {{#ds/accordion-container title="Simultaneous Calls" expanded=true}}
          {{ds/checkbox-array
            checkAll=true
            field=(mut simultaneousCalls)
            break=true
            wide=true
            items=(array
              (hash
                key="1-100"
                label="1 - 100"
              )
              (hash
                key="100-500"
                label="100-500"
              )
              (hash
                key="500-1000"
                label="500-1000"
              )
              (hash
                key="over1000"
                label="Over 1000"
              )
            )
          }}
        {{/ds/accordion-container}}
      {{/if}}
      {{#if (eq serviceTower "mobile-services")}}
        <br>
        {{#ds/accordion-container title="Mobile services" expanded=true}}
          {{ds/checkbox-array
            checkAll=true
            field=(mut services)
            break=true
            wide=true
            items=(array
              (hash
                key="sim_device"
                label="Sim + Device Plan"
              )
              (hash
                key="data_pool"
                label="Data Pool"
              )
              (hash
                key="sim_only"
                label="Sim Only"
              )
              (hash
                key="voice_pool"
                label="Voice Pool"
              )
              (hash
                key="device_service"
                label="Device `as-a-Service`"
              )
              (hash
                key="device_outright"
                label="Device (outright)"
              )
              (hash
                key="mobile_device"
                label="Mobile Device Management"
              )
            )
          }}
        {{/ds/accordion-container}}
        <br>
        {{#ds/accordion-container title="Terms" expanded=true}}
          {{ds/checkbox-array
            checkAll=true
            field=(mut terms)
            break=true
            wide=true
            items=(array
              (hash
                key="0-months"
                label="No contract"
              )
              (hash
                key="12-months"
                label="12 months"
              )
              (hash
                key="24-months"
                label="24 months"
              )
            )
          }}
        {{/ds/accordion-container}}
        <br>
        {{#ds/accordion-container title="Data per month" expanded=true}}
          {{ds/checkbox-array
            checkAll=true
            field=(mut dataPerMonth)
            wide=true
            items=(array
              (hash
                key="0mb"
                label="0MB"
              )
              (hash
                key="200mb"
                label="200MB"
              )
              (hash
                key="1gb"
                label="1GB"
              )
              (hash
                key="5gb"
                label="5GB"
              )
              (hash
                key="10gb"
                label="10GB"
              )
              (hash
                key="20gb"
                label="20GB"
              )
              (hash
                key="50gb"
                label="50GB"
              )
              (hash
                key="100gb"
                label="100GB"
              )
              (hash
                key="200gb"
                label="200GB"
              )
              (hash
                key="300gb"
                label="300GB"
              )
              (hash
                key="500gb"
                label="500GB"
              )
              (hash
                key="750gb"
                label="750GB"
              )
              (hash
                key="1tb"
                label="1TB"
              )
              (hash
                key="2tb"
                label="2TB"
              )
              (hash
                key="3tb"
                label="3TB"
              )
              (hash
                key="5tb"
                label="5TB"
              )
              (hash
                key="7.5tb"
                label="7.5TB"
              )
              (hash
                key="10tb"
                label="10TB"
              )
              (hash
                key="20tb"
                label="20TB"
              )
              (hash
                key="30tb"
                label="30TB"
              )
              (hash
                key="50tb"
                label="50TB"
              )
              (hash
                key="75tb"
                label="75TB"
              )
              (hash
                key="100tb"
                label="100TB"
              )
              (hash
                key="200tb"
                label="200TB"
              )
              (hash
                key="300tb"
                label="300TB"
              )
              (hash
                key="500tb"
                label="500TB"
              )
              (hash
                key="750tb"
                label="75TB"
              )
              (hash
                key="1pb"
                label="1PB"
              )
              (hash
                key="unlimited"
                label="Unlimited"
              )
            )
          }}
        {{/ds/accordion-container}}
        <br>
        {{#ds/accordion-container title="Number of devices" expanded=true}}
          {{ds/checkbox-array
            checkAll=true
            field=(mut numberOfDevices)
            break=true
            wide=true
            items=(array
              (hash
                key="1-10"
                label="1 - 10"
              )
              (hash
                key="10"
                label="10"
              )
              (hash
                key="100"
                label="100"
              )
              (hash
                key="1000"
                label="1,000"
              )
              (hash
                key="10000"
                label="10,000"
              )
              (hash
                key="100000"
                label="100,000"
              )
            )
          }}
        {{/ds/accordion-container}}
      {{/if}}
      <br>
      <a class="au-btn" onclick={{action "search"}}>Update results</a>
      <br>
      <br>
      <br>
    </div>
    <div class="col-sm-8">
      <h2 class="au-display-lg underline-dark">
        <b>35 products</b>
      </h2>
      <br>
      <select
        class="au-select au-select--block"
        value={{mut sortBy}}
      >
        <option
          disabled
          selected={{if (eq sortBy null) "selected"}}
        >
          Sort by
        </option>
        <option value="by-product">
          Sort by product name
        </option>
        <option value="by-seller">
          Sort by seller name
        </option>
        <option value="by-update">
          Sort by most recent
        </option>
      </select>
      <br>
      <br>
      <div>
        {{#if (gt pageNum 0)}}
          <a class="float-left" href="#" onclick={{action "lastPage"}}>
            ← Previous
          </a>
        {{/if}}

        {{#if (lt pageNumPlusOne totalPages)}}
          <a class="float-right" href="#" onclick={{action "nextPage"}}>
            Next →
          </a>
        {{/if}}
      </div>
    </div>
  </div>
{{/ds/template-body}}
