{{#dds/template-body}}
  {{ dds/bread-crumbs
    links=(array
      (hash name="Dashboard" route="seller-dashboard")
      (hash name="TPA products" route="telco-products")
      (hash name=this.model.form_name)
    )
  }}

  {{#if validationErrors }}
    <br>
    {{#dds/page-alert alertType="error"}}
      {{validationErrors}}
    {{/dds/page-alert}}
  {{/if}}

  {{component
    this.model.component_name
    form_key=this.model.form_key
    product=this.model.product
    showError=(not (is-empty validationErrors))
  }}

  <br>
  <hr>
  <br>

  <p>
    <button class="au-btn" onclick={{action "saveProduct"}}>Save and continue</button>
    &nbsp;
    &nbsp;
    &nbsp;
    {{link-to "Cancel and return later" "telco-products"}}
  </p>
{{/dds/template-body}}
