{{#dds/template-body}}
  {{ dds/bread-crumbs
    links=(array
      (hash name="Dashboard" route="seller-dashboard")
      (hash name="TPA products" route="telco-products")
    )
  }}
  <h3 class="au-display-lg">Your TPA products and services</h3>
  <br><br>
  <div class="col-sm-9">
    {{ dds/inpage-nav
      sections=(array
        (hash anchor="fixed-data-services" name="Fixed Data")
        (hash anchor="internet-services" name="Internert Services")
        (hash anchor="voice-services" name="Voice Services")
        (hash anchor="mobile-services" name="Mobile Services")
        (hash anchor="common-services" name="Common Services")
      )
    }}
  </div>
  <div class="col-sm-24">
    <p class="au-callout">
      <h5 class="au-display-sm"><b>For now, buy.nsw is only open to TPA sellers who either</b></h5>
      <ul>
        <li>provide TPA products, services and support that meet the government's TPA requirements</li>
        <li>are currently signed up to the NSW Government's Telecommunications Purchasing Arrangements (TPA)</li>
      </ul>
      <p>We will be opening up to more seller categories in future.</p>
    </p>
    <p>
      <b>
        {{ link-to "If you are looking to sell cloud products, click here." "seller-guide" }}
      </b>
    </p>
    <br>
    <br>
    <TelcoProductStack @title="Fixed data services" @id="fixed-data-services">
      <TelcoProductRow
        @name="Passive Point-to-Point - Dark Fibre"
        @form="dark-fibre"
        @product={{categorisedProducts.dark_fibre}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Active Point-to-Point CSDM/ DWDM"
        @form="cwdm-dwdm"
        @product={{categorisedProducts.cwdm_dwdm}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Active Point-to-Point Fibre Channel"
        @form="fibre-channel"
        @product={{categorisedProducts.fibre_channel}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Unmanaged Layer 2 VPN - Ethernet"
        @form="l2vpn-ethernet"
        @product={{categorisedProducts.l2vpn_ethernet}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Unmanaged Layer 3 VPN - IP over Ethernet"
        @form="unmanaged-l3vpn"
        @product={{categorisedProducts.unmanaged_l3vpn}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Managed Layer 3 VPN - IP over Ethernet"
        @form="managed-l3vpn"
        @product={{categorisedProducts.managed_l3vpn}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Low-cost Managed L3VPN - IP over Ethernet"
        @form="lowcost-l3vpn"
        @product={{categorisedProducts.lowcost_l3vpn}}
      >
      </TelcoProductRow>
    </TelcoProductStack>
    <br>
    <TelcoProductStack @title="Internet Services" @id="internet-services">
      <TelcoProductRow
        @name="Core Internet Uplink"
        @form="core-internet"
        @product={{categorisedProducts.core_internet}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Peering Access"
        @form="peering-access"
        @product={{categorisedProducts.peering_access}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Internet Access"
        @form="internet-access"
        @product={{categorisedProducts.internet_access}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Core Internet Option - Firewall"
        @form="internet-firewall"
        @product={{categorisedProducts.internet_firewall}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Core Internet Option - DNS"
        @form="internet-dns"
        @product={{categorisedProducts.internet_dns}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Core Internet Option - Content Filtering"
        @form="web-filtering"
        @product={{categorisedProducts.web_filtering}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Core Internet Option - Email Protection"
        @form="email-protection"
        @product={{categorisedProducts.email_protection}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Reverse Proxy"
        @form="reverse-proxy"
        @product={{categorisedProducts.reverse_proxy}}
      >
      </TelcoProductRow>
    </TelcoProductStack>
    <br>
    <TelcoProductStack @title="Voice Services" @id="voice-services">
      <TelcoProductRow
        @name="SIP Trunk"
        @form="sip-trunk"
        @product={{categorisedProducts.sip_trunk}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="ISDN - Basic Rate Access"
        @form="isdn-basic"
        @product={{categorisedProducts.isdn_basic}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="ISDN - Primary Rate Access"
        @form="isdn-primary"
        @product={{categorisedProducts.isdn_primary}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="PSTN Lines"
        @form="pstn-lines"
        @product={{categorisedProducts.pstn_lines}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Direct In-Dial Number Blocks"
        @form="number-block"
        @product={{categorisedProducts.number_block}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Inbound Calling Service"
        @form="inbound-call"
        @product={{categorisedProducts.inbound_call}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Outbound Calling Service"
        @form="outbound-call"
        @product={{categorisedProducts.outbound_call}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Enterprise Voice Only (PABX Replacement)"
        @form="pabx-replacement"
        @product={{categorisedProducts.pabx_replacement}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Unified Communications"
        @form="unified-communications"
        @product={{categorisedProducts.unified_communications}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Call Centre"
        @form="call-centre"
        @product={{categorisedProducts.call_centre}}
      >
      </TelcoProductRow>
    </TelcoProductStack>
    <br>
    <TelcoProductStack @title="Mobile Services" @id="mobile-services">
      <TelcoProductRow
        @name="Sim + Device Plan"
        @form="sim-device"
        @product={{categorisedProducts.sim_device}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Data Pool"
        @form="data-pool"
        @product={{categorisedProducts.data_pool}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Sim Only"
        @form="sim-only"
        @product={{categorisedProducts.sim_only}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Voice Pool"
        @form="voice-pool"
        @product={{categorisedProducts.voice_pool}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Device `as-a-Service`"
        @form="device-service"
        @product={{categorisedProducts.device_service}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Device (outright)"
        @form="device-outright"
        @product={{categorisedProducts.device_outright}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Mobile Device Management"
        @form="mobile-device"
        @product={{categorisedProducts.mobile_device}}
      >
      </TelcoProductRow>
    </TelcoProductStack>
    <br>
    <br>
    <TelcoProductStack @title="Common Services" @id="common-services">
      <div class="inner">
        {{#dds/accordion-container title="Common Services"}}
          <p>
            Common Services are telecommunications support services that span other services, including:
          </p>

          <ul>
            <li>Asset and Configuration Management</li>
            <li>Availability Management</li>
            <li>Capacity Management </li>
            <li>Change Management </li>
            <li>Demand Management</li>
            <li>Event Management </li>
            <li>General (Product)</li>
            <li>Incident Management</li>
            <li>Information Security Management</li>
            <li>Knowledge Management</li>
            <li>Problem Management</li>
            <li>Release Management</li>
            <li>Request Fulfilment</li>
            <li>Service Continuity Management</li>
            <li>Service Level Management</li>
          </ul>
          <p>
            Common Services are typically offered with other services, depending on the service, the supplier and their agreement with government.
          </p>

          <p>
            If you have any questions about Common Services, or engaging a supplier, you can contact the TOG team.
          </p>

        {{/dds/accordion-container}}

        <p class="au-callout">
          <p>To view the complete service description for the Common Services according to the TPA, please download it here:</p>
          <br>
          <p>
            <b>
              <a
                target="_blank"
                rel="noopener"
                href="/ict/Part-B1-Service-Description-Common-Services.pdf"
              >
                Service Description - Common Services
              </a>
            </b>
            (PDF, 520kb)
          </p>
        </p>
      </div>
      <br>
      <br>
      <TelcoServiceRow
        @name="Incident Management"
        @form="incident-management"
        @product={{categorisedProducts.incident_management}}
      >
      </TelcoServiceRow>
      <TelcoServiceRow
        @name="Information Security Management"
        @form="information-security"
        @product={{categorisedProducts.information_security}}
      >
      </TelcoServiceRow>
      <TelcoServiceRow
        @name="Request Fulfilment"
        @form="request-fulfilment"
        @product={{categorisedProducts.request_fulfilment}}
      >
      </TelcoServiceRow>
      <TelcoServiceRow
        @name="Release Management"
        @form="release-management"
        @product={{categorisedProducts.release_management}}
      >
      </TelcoServiceRow>
      <TelcoServiceRow
        @name="Capacity Management"
        @form="capacity-management"
        @product={{categorisedProducts.capacity_management}}
      >
      </TelcoServiceRow>
      <TelcoServiceRow
        @name="Problem Management"
        @form="problem-management"
        @product={{categorisedProducts.problem_management}}
      >
      </TelcoServiceRow>
      <TelcoServiceRow
        @name="Service Level Management"
        @form="service-level-management"
        @product={{categorisedProducts.service_level_management}}
      >
      </TelcoServiceRow>
      <TelcoServiceRow
        @name="Change Management"
        @form="change-management"
        @product={{categorisedProducts.change_management}}
      >
      </TelcoServiceRow>
      <TelcoServiceRow
        @name="Asset and Configuration Management"
        @form="configuration-management"
        @product={{categorisedProducts.configuration_management}}
      >
      </TelcoServiceRow>
      <TelcoServiceRow
        @name="Service Continuity Management"
        @form="continuity-management"
        @product={{categorisedProducts.continuity_management}}
      >
      </TelcoServiceRow>
      <TelcoServiceRow
        @name="Event Management"
        @form="event-management"
        @product={{categorisedProducts.event_management}}
      >
      </TelcoServiceRow>
      <TelcoServiceRow
        @name="Availability Management"
        @form="availability-management"
        @product={{categorisedProducts.availability_management}}
      >
      </TelcoServiceRow>
      <TelcoServiceRow
        @name="Demand Management"
        @form="demand-management"
        @product={{categorisedProducts.demand_management}}
      >
      </TelcoServiceRow>
      <TelcoServiceRow
        @name="Knowledge Management"
        @form="knowledge-management"
        @product={{categorisedProducts.knowledge_management}}
      >
      </TelcoServiceRow>
    </TelcoProductStack>
    <br>
  </div>
{{/dds/template-body}}
