<h2 class="au-display-xl underline-light">
  <b>Complete application</b>
</h2>
<br>
<br>
<p>
By applying to be a supplier on buy.nsw you are also applying to join the ICT Services Scheme.
</p>
<p>
The scheme’s rules include your using its contracting framework.
</p>
<p>
<a target="_blank" href="https://www.procurepoint.nsw.gov.au/before-you-buy/standard-contract-templates/short-form-contracts">
Core&amp; Agreement</a> (for low risk work)
<br>
<a target="_blank" href="https://www.procurepoint.nsw.gov.au/before-you-buy/standard-procurement-contract-templates/procure-it-framework-version-32">
Procure IT 3.2
</a>
</p>
{{#if form.agreed_at_date}}
  <p>The ProcureIT Contracting Framework was agreed to at {{form.agreed_at_date}} by {{form.agreed_by_email}}.</p>
{{else if (eq form.representative_user_status "ready_to_sign")}}
  <p>
      {{dds/checkbox-input
        field=(mut form.agreed)
        label="I agree that I am joining the ICT Services Scheme and will abide by its rules."
        showError=(or showError (not-eq form.status 'todo'))
        invalid=(v-get form 'agreed' 'isInvalid')
        errorMessage=(v-get form 'agreed' 'message')
      }}
  </p>
{{else}}
  <p><b>You can't accept the ProcureIT Contracting Framework</b></p>
  {{#if form.representative_email}}
    <p>
      Only <strong>{{form.representative_email}}</strong>
      can accept the ProcureIT Contracting Framework on behalf of your organisation.
    </p>
    {{#if (eq form.representative_user_status "not_invited")}}
        <p>You need to invite them to your seller account, and ask them to sign in to accept the terms.</p>
    {{else if (eq form.representative_user_status "another_seller")}}
        <p><u>They have joined another seller account, please contact us for more information.</u></p>
    {{else}}
        <p>They have already been invited to sign in and joined your seller account.</p>
    {{/if}}
  {{else}}
    <p>Only your authorised representative can accept the terms on behalf of your organisation.</p>
    <p>You need to nominate who they are in company details &gt; contact details section, If it's not you, they will need to sign in and accept the ProcureIT Contracting Framework.</p>
  {{/if}}
{{/if}}
<hr class="light">
