{{#each field as |item index|}}
  <p>
    <span class="col-sm-3 col-md-2 list-item">
      <b>{{inc index}}.</b>
    </span>
    <div class="col-sm-33 col-md-24">
      {{seller-form/single-text
        value=item
        index=index
        signal=signal
        field=(mut field)
      }}
    </div>
    <div class="clear-both"></div>
  </p>
{{/each}}
<p>
  <div class="col-sm-3 col-md-2">
  </div>
  <div class="col-sm-24 plus-circle">
    {{dds/tertiary-button
      onClick=(action "addRow")
      icon="plus-circle"
      label="Add row"
    }}
    {{#if (and (or showError hasChanged) invalid)}}
      {{dds/validation-error type="error" message=errorMessage float="left"}}
    {{else if (and apiError (not hasChanged))}}
      {{dds/validation-error type="warning" message=apiError float="left"}}
    {{/if}}
  </div>
  <div class="clear-both"></div>
</p>
