<section class="au-accordion {{if theme (concat "au-accordion--" theme)}}" id={{id}}>
  {{#if collapsable}}
    <div
      class="au-accordion__title {{expandedClass}}"
      aria-controls="accordion-default"
      aria-expanded={{ expanded }}
      onclick={{action "toggle"}}
    >
      <div class="title">
        {{ title }}
      </div>
      {{#if subtitle}}
        <p class="au-accordion__subtitle">
          {{ subtitle }}
        </p>
      {{/if}}
    </div>
  {{else}}
    <div class="au-accordion__title locked">
      <div class="title">
        {{ title }}
      </div>
      {{#if subtitle}}
        <p class="au-accordion__subtitle">
          {{ subtitle }}
        </p>
      {{/if}}
    </div>
  {{/if}}

  <div class="au-accordion__body {{expandedClass}}">
    <div class="au-accordion__body-wrapper {{if theme (concat "au-accordion--" theme)}}">
      {{ yield }}
    </div>
  </div>
</section>
