<div class="au-avatar">
  {{#if (not imgSrc)}}
      {{dds/avatar avatarId=field fileService=fileService}}
      {{#file-upload name=(concat elementId "-avatar-file") accept=(array "image/jpeg" "image/png") onfileadd=(action "filePicked")}}
        <span class="au-btn au-btn--primary au-btn--thin au-btn--sapphire pointer">
          Browse photo
        </span>
      {{/file-upload}}
      <p class="au-display-xs">Max size permitted - 5MB. Note - file size may increase on upload.</p>
      {{#if field}}
        {{dds/secondary-button
          class="avatar__remove"
          thin=true
          theme="sapphire"
          onClick=(action "remove")
          label="Remove photo"
        }}
      {{/if}}
  {{else}}
    <p>
      <div class="cropper-container">
        <img src={{ imgSrc }}>
      </div>
      {{image-cropper
        cropper=cropper
        cropperContainer=(concat "#" elementId " .cropper-container > img")
        aspectRatio=1
        minContainerWidth=100
        minContainerHeight=100
      }}
      {{dds/primary-button
        class="pull-left"
        thin=true
        theme="sapphire"
        onClick=(action "crop")
        label="Crop"
      }}
      {{dds/secondary-button
        class="pull-left"
        thin=true
        theme="sapphire"
        onClick=(action "cancel")
        label="Cancel"
      }}
      <div class="clear-both"></div>
    </p>
  {{/if}}

  {{#if fileError}}
    {{dds/validation-error type="error" message=fileError float="left"}}
  {{else if (and (not disabled) (and (or showError hasChanged) invalid))}}
    {{dds/validation-error thin=thin type=(or errorType "error") message=errorMessage float=(or float "left")}}
  {{else if (and apiError (or showError hasChanged))}}
    {{dds/validation-error thin=thin type="warning" message=apiError float=(or float "left")}}
  {{/if}}
</div>
