<p class="thin-lines">
  <br>
  <label class="au-control-input">
    <input
      class="au-control-input__input"
      type="checkbox"
      onChange={{action "toggle"}}
      checked={{if field "checked" ""}}
      disabled={{if disabled "disabled" ""}}
    >
    <span class="au-control-input__text">
      <b>
        {{label}}
      </b>
    </span>
  </label>
</p>
{{#if description}}
  <p class="checkbox-description">
    {{description}}
  </p>
{{/if}}
