{{#each items as |item|}}
    {{dds/checkbox-item
      name=item.key
      label=item.label
      field=(mut field)
      bold=true
      disabled=disabled
      onChange=(action "onChange")
      description=item.description
    }}
  {{#if (and item.subItems (array-contains field item.key))}}
    <div class="col-sm-34 col-sm-offset-2">
      {{#each item.subItems as |subItem|}}
          {{dds/checkbox-item
            class="col-lg-18"
            name=subItem.key
            label=subItem.label
            field=(mut field)
            bold=false
            disabled=disabled
            onChange=(action "onChange")
          }}
      {{/each}}
    </div>
    <div class="clear-both"></div>
    <br>
  {{/if}}
{{/each}}
{{#if (and displayError invalid)}}
  {{dds/validation-error type="error" message=errorMessage float="right"}}
{{else if (and apiError displayError)}}
  {{dds/validation-error type="warning" message=apiError float="right"}}
{{/if}}
