{{#each items as |item|}}
    {{dds/checkbox-item
      isSimple=isSimple
      name=item.key
      label=item.label
      field=(mut field)
      bold=true
      disabled=disabled
      onChange=(action "onChange")
      description=item.description
    }}
  {{#if (and item.subItems (array-contains field item.key))}}
    <div class={{if isSimple "checkbox-group" "col-sm-34 col-sm-offset-2" }}>
      {{#each item.subItems as |subItem|}}
          {{dds/checkbox-item
            isSimple=isSimple
            class=(unless isSimple "col-lg-18")
            name=subItem.key
            label=subItem.label
            field=(mut field)
            bold=false
            disabled=disabled
            onChange=(action "onChange")
          }}
      {{/each}}
    </div>
    {{#unless isSimple}}
      <div class="clear-both"></div>
      <br>
    {{/unless}}
  {{/if}}
{{/each}}
{{#if (and displayError invalid)}}
  {{dds/validation-error type="error" message=errorMessage isSimple=isSimple float="right"}}
{{else if (and apiError displayError)}}
  {{dds/validation-error type="warning" message=apiError isSimple=isSimple float="right"}}
{{/if}}
