<input
  id={{concat elementId '-checkbox'}}
  class={{unless isSimple "au-control-input__input"}}
  type="checkbox"
  name={{name}}
  onChange={{action "toggle"}}
  checked={{if checked "checked" ""}}
  disabled={{if disabled "disabled" ""}}
>
<label class={{unless isSimple "au-control-input__text"}} for={{concat elementId '-checkbox'}}>
  {{#if bold}}
    <b>{{label}}</b>
  {{else}}
    {{label}}
  {{/if}}
</label>
{{#if description}}
  <p class="input-description">
    {{description}}
  </p>
{{/if}}
