{{# if (and auth.user auth.user.isSeller) }}
  <h4 class="pointer" onclick={{action "onToggle"}}>
    {{headingText}}
    {{#if isOpen}}
      {{fa-icon "chevron-up" prefix="fas"}}
    {{else}}
      {{fa-icon "chevron-down" prefix="fas"}}
    {{/if}}
  </h4>
  {{#if isOpen}}
    <ul class="au-link-list">
      {{#each droplinks as |droplink|}}
        <li>
          {{link-to droplink.name droplink.route}}
        </li>
      {{/each}}
      <li >
        <button class="au-btn au-btn--tertiary" onclick={{action "logout"}}>Sign out</button>
      </li>
    </ul>
  {{/if}}
{{ else }}
  {{#if auth.user}}
    <button class="au-btn au-btn--tertiary" onclick={{action "logout"}}>Sign out</button>
  {{else}}
    {{ link-to "Log in or sign up" "sign-in" }}
  {{/if}}  
{{/ if }}