{{#if documents.length}}
  {{#if isSimple}}
    <h6>Current document{{#if (gt documents.length 1)}}s{{/if}}</h6>
  {{/if}}
  <ul class={{if isSimple "files" "au-tags files"}}>
    {{#each documents as |document index|}}
      <li class="{{theme}}">
        {{document.original_filename}}{{#unless isSimple}} ( {{document.extension}} , {{number-to-human-size document.size}} ){{/unless}}
        {{#unless disabled}}
          {{#if isSimple}}
            <button onclick={{action "removeDocument" index}}>Remove file</button>
          {{else}}
            <a class="pointer right" onclick={{action "removeDocument" index}}>x</a>
          {{/if}}
        {{/unless}}
      </li>
    {{/each}}
  </ul>
{{/if}}
{{#unless isSimple}}<br>{{/unless}}
{{#unless disabled}}
  {{#file-upload name=name class=labelClass accept=fileTypes onfileadd=(action "uploadDocument")  as |queue|}}
    {{#if (and documents.length multiple)}}
      {{fa-icon (if isSimple "plus-circle" "file-upload") prefix="fas"}} Add another file
    {{else if (and documents.length (not multiple))}}
      {{fa-icon (if isSimple "plus-circle" "file-upload") prefix="fas"}} Choose another file
    {{else}}
      {{fa-icon (if isSimple "plus-circle" "file-upload") prefix="fas"}} Choose a file
    {{/if}}
  {{/file-upload}}
{{/unless}}

{{#if fileError}}
  {{dds/validation-error type="error" message=fileError isSimple=isSimple float="left"}}
{{else if (and (not disabled) (and displayError invalid))}}
  {{dds/validation-error thin=thin type=(or errorType "error") message=errorMessage isSimple=isSimple float=(or float "left")}}
{{else if (and apiError displayError)}}
  {{dds/validation-error thin=thin type="warning" message=apiError isSimple=isSimple float=(or float "left")}}
{{/if}}
