<p>
  {{#if documents.length}}
    <ul class="au-tags files">
      {{#each documents as |document index|}}
        <li class="files {{theme}}">
          <a class="file">
            {{document.original_filename}} ( {{document.extension}} , {{number-to-human-size document.size}} )
          </a>
          {{#unless disabled}}
            <a class="pointer right" onclick={{action "removeDocument" index}}>
              x
            </a>
          {{/unless}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
  <br>
  {{#unless disabled}}
    {{#file-upload name=name
                   accept=fileTypes
                   onfileadd=(action "uploadDocument")  as |queue|}}
      <span class="au-btn au-btn--tertiary pointer {{if theme (concat "au-btn--tertiary--" theme)}}">
        {{#if (and documents.length multiple)}}
          {{fa-icon "file-upload" prefix="fas"}} Add another file
        {{else if (and documents.length (not multiple))}}
          {{fa-icon "file-upload" prefix="fas"}} Choose another file
        {{else}}
          {{fa-icon "file-upload" prefix="fas"}} Choose a file
        {{/if}}
      </span>
    {{/file-upload}}
  {{/unless}}
</p>
<div class="clear-both"></div>
{{#if fileError}}
  {{dds/validation-error type="error" message=fileError float="left"}}
{{else if (and (not disabled) (and (or showError hasChanged) invalid))}}
  {{dds/validation-error thin=thin type=(or errorType "error") message=errorMessage float=(or float "left")}}
{{else if (and apiError (or showError hasChanged))}}
  {{dds/validation-error thin=thin type="warning" message=apiError float=(or float "left")}}
{{/if}}
