<div class="row">
  <div class={{if allRow "col-sm-36" "col-sm-36 col-md-24"}}>
    <form autocomplete="off">
    <p>
      <b class={{theme}}>{{if title title "Password"}}</b>
      <span class="gray">
        {{#if tip}}
          <br>
          {{tip}}
        {{/if}}
      </span>
    </p>
    {{input
      class=(concat
              "au-text-input "
              (if wide "au-text-input--block ")
              (if thin "au-text-input--thin ")
              (if theme (concat "au-text-input--" theme)))
      value=(mut field)
      type=(if hidePassword "password" "text")
      disabled=disabled
      enter=enter
      autocomplete="new-password"
      focus-out=(action "onChange")
      key-up=(action "onChange")
    }}

    {{#unless confirm}}
      {{dds/tertiary-button
        label=(if hidePassword "Show" "Hide")
        onClick=(action "togglePassword")
        tagName="span"
      }}
    {{/unless}}

    {{#if (eq length 0)}}
      {{dds/validation-error type="gray" message="Password is blank" float="right" wide=wide}}
    {{else if (lt length 8)}}
      {{dds/validation-error type="error" message="Password is too short" float="right" wide=wide}}
    {{else if (lt strength 3)}}
      {{dds/validation-error type="warning" message="Password is not strong enough" float="right" wide=wide}}
    {{else}}
      {{dds/validation-error type="green" message="Password is strong" float="right" wide=wide}}
    {{/if}}

    {{#if confirm}}
      <p>
        <b class={{theme}}>Password confirmation</b>
      </p>
      {{input
        class=(concat
                "au-text-input "
                (if wide "au-text-input--block ")
                (if thin "au-text-input--thin ")
                (if theme (concat "au-text-input--" theme)))
        value=(mut confirmation)
        type="password"
        disabled=disabled
        enter=enter
        autocomplete="new-password"
        focus-out=(action "onChange")
        key-up=(action "onChange")
      }}
      {{#if (and (or field confirmation) (not-eq field confirmation))}}
        {{dds/validation-error type="error" message="Password and confirmation should match" float="right" wide=wide}}
      {{/if}}

    {{/if}}
    </form>
  </div>
</div>
