<div class="container-fluid">
  <div class="row feedback">
    <hr class="less-margin">
    <div class="col-md-8">
      {{#if activated}}
        <br>
        <h2 class="au-header__heading au-display-lg">
          Help us improve buy.nsw
        </h2>
        <br>
        <p>
          {{#dds/text-input
            wide=true
            field=(mut feedback.task)
          }}
            <b>What were you doing?</b>
          {{/dds/text-input}}
        </p>

        <p>
          {{#dds/text-input
            wide=true
            field=(mut feedback.issue)
          }}
            <b>What went wrong?</b>
          {{/dds/text-input}}
        </p>

        {{#if auth.user}}
          <p>Your email ({{auth.user.email}}) will be included in the report.</p>
        {{/if}}

        <br>
        <span class="float-right">
          {{dds/link-button
            wide=true
            onClick=(action "sendFeedback")
            disabled=(v-get this "isInvalid")
            label="Send feedback"
          }}
        </span>
      {{else}}
        {{#if feedback}}
          <b>Thank you for your feedback.</b>
        {{else}}
          <button 
            class="au-btn au-btn--tertiary"
            onClick={{action "initiateFeedback"}}
          >
            Is there anything wrong with this page?
          </button>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
