<div class="au-body">
  <div class="container-fluid">
    <div class="row feedback">
      <hr class="less-margin light">
      <div class="col-sm-36 col-md-30 col-md-offset-3 col-lg-24">
        {{#if activated}}
          <h2 class="au-display-md">
            Help us improve buy.nsw
            <a class="pull-right pointer" onclick={{action "cancelFeedback"}}>
              {{fa-icon "times" prefix="fal"}}
            </a>
          </h2>
          <br>
          <p>
            {{#dds/text-input
              wide=true
              thin=true
              field=(mut feedback.task)
              invalid=(v-get feedback 'task' 'isInvalid')
              errorMessage=(v-get feedback 'task' 'message')
            }}
              What were you doing?
            {{/dds/text-input}}
          </p>

          <p>
            {{#dds/text-input
              wide=true
              thin=true
              field=(mut feedback.issue)
              invalid=(v-get feedback 'issue' 'isInvalid')
              errorMessage=(v-get feedback 'issue' 'message')
            }}
              What went wrong?
            {{/dds/text-input}}
          </p>

          {{#if user}}
            <p>Your email ({{user.email}}) will be included in the report.</p>
          {{else}}
            <p>
              {{#dds/text-input
                wide=true
                thin=true
                field=(mut feedback.email)
                invalid=(v-get feedback 'email' 'isInvalid')
                errorMessage=(v-get feedback 'email' 'message')
              }}
                Your email address (optional)
              {{/dds/text-input}}
            </p>
          {{/if}}

          <br>
          <span class="float-right">
            {{dds/secondary-button
              wide=true
              thin=true
              onClick=(action "sendFeedback")
              disabled=feedback.isInvalid
              label="Send feedback"
            }}
          </span>
        {{/if}}
      </div>
      <div class="col-sm-36">
        {{#unless activated}}
          {{#if feedback}}
            <b>Thank you for your feedback.</b>
          {{else}}
            <button 
              class="au-btn au-btn--tertiary"
              onClick={{action "initiateFeedback"}}
            >
              Is there anything wrong with this page?
            </button>
          {{/if}}
        {{/unless}}
      </div>
    </div>
  </div>
</div>
