{{#if isSimple}}
  {{#each items as |item|}}
    {{dds/radio-button
      isSimple=true
      value=item.key
      label=item.label
      field=(mut field)
      disabled=disabled
      onChange=(action "onChange")
    }}
  {{/each}}
  {{#if (and displayError invalid)}}
    {{dds/validation-error type="error" message=errorMessage class="error" isSimple=true}}
  {{else if (and apiError displayError)}}
    {{dds/validation-error type="warning" message=apiError class="error" isSimple=true}}
  {{/if}}
{{else}}
  {{#each items as |item|}}
    <div class="little-padding">
      {{dds/radio-button
        value=item.key
        label=item.label
        field=(mut field)
        disabled=disabled
        onChange=(action "onChange")
      }}
    </div>
  {{/each}}
  {{#if (and displayError invalid)}}
    {{dds/validation-error type="error" message=errorMessage float="left"}}
  {{else if (and apiError displayError)}}
    {{dds/validation-error type="warning" message=apiError float="left"}}
  {{/if}}
{{/if}}
