<input
  id={{concat elementId '-radio'}}
  class={{unless isSimple "au-control-input__input"}}
  type="radio"
  checked={{if (eq field value) "checked" "" }}
  onClick={{action "selectRadio" value=value}}
>
<label class={{unless isSimple "au-control-input__text"}} for={{concat elementId '-radio'}}>{{label}}</label>