{{#if route}}
  {{link-to label route
    class=(concat "au-btn au-btn--secondary "
        (if wide "au-btn--wide ")
        (if thin "au-btn--thin ")
        (if theme (concat "au-btn--secondary--" theme)))
    disabled=disabled
  }}
{{else}}
  <a
    class={{concat "au-btn au-btn--secondary "
        (if wide "au-btn--wide ")
        (if thin "au-btn--thin ")
        (if theme (concat "au-btn--secondary--" theme))}}
    onclick={{unless disabled onClick}}
    disabled={{disabled}}
  >
    {{label}}
  </a>
{{/if}}
