{{#if route}}
  {{link-to label route
    class=(if wide "au-btn au-btn--secondary au-btn--wide" "au-btn au-btn--secondary")
    disabled=disabled
  }}
{{else}}
  <a
    class={{if wide "au-btn au-btn--secondary au-btn--wide" "au-btn au-btn--secondary"}}
    onclick={{unless disabled onClick}}
    disabled={{disabled}}
  >
    {{label}}
  </a>
{{/if}}
