<select
  class="au-select fixed-width au-select--block"
  onChange={{action "onChange" value="target.value"}}
>
  <option
    disabled
    selected={{if (or (eq field "") (eq field null)) "selected"}}
  >
    Please select
  </option>
  {{#each items as |item|}}
    <option selected={{if (eq field item.value) "selected"}} value={{item.value}}>{{item.label}}</option>
  {{/each}}
</select>
{{#if (and (or showError hasChanged) (and required (or (eq field "") (eq field null))))}}
  {{dds/validation-error type="error" message="This field is required" float="left"}}
{{else if (and (or showError hasChanged) invalid)}}
  {{dds/validation-error type="error" message=errorMessage float="left"}}
{{else if (and apiError (not hasChanged))}}
  {{dds/validation-error type="warning" message=apiError float="left"}}
{{/if}}
