<select
  class="au-select fixed-width au-select--block"
  onChange={{action "onChange" value="target.value"}}
>
  <option
    disabled
    selected={{if (or (eq field "") (eq field null)) "selected"}}
  >
    Please select
  </option>
  {{#each items as |item|}}
    <option selected={{if (eq field item.value) "selected"}} value={{item.value}}>{{item.label}}</option>
  {{/each}}
</select>
{{#if (and (or showError hasChanged) (and required (or (eq field "") (eq field null))))}}
  <span class="field-error error float-left">This field is required</span>
  <div class="clear-both"></div>
{{/if}}
{{#if (and (or showError hasChanged) invalid)}}
  <span class="field-error error float-left">{{errorMessage}}</span>
  <div class="clear-both"></div>
{{else if (and (eq adminFeedback "rejected") (not hasChanged))}}
  <span class="field-error warning float-left">Changes requested upon your previous submission</span>
  <div class="clear-both"></div>
{{/if}}
