{{#if label-text}}
  <label>{{label-text}}</label>
{{/if}}
<select
  class={{if isSimple selectClass "au-select au-select--block"}}
  onChange={{action "onChange" value="target.value"}}
>
  <option
    disabled
    selected={{if (is-empty field) "selected"}}
  >
    Please select
  </option>
  {{#each items as |item|}}
    <option selected={{if (eq field item.value) "selected"}} value={{item.value}}>{{item.label}}</option>
  {{/each}}
</select>
{{#if (and displayError (and required (is-empty field) ))}}
  {{dds/validation-error type="error" message="This field is required" isSimple=isSimple float="left"}}
{{else if (and displayError invalid)}}
  {{dds/validation-error type="error" message=errorMessage isSimple=isSimple float="left"}}
{{else if (and apiError displayError)}}
  {{dds/validation-error type="warning" message=apiError isSimple=isSimple float="left"}}
{{/if}}
