<div class="container-fluid">
  {{#link-to "index"}}
    <img alt="NSW Government" src="/ict/images/logo-white.svg" />
    {{#if isWayfinder}}
      <h2>buy.nsw</h2>
    {{/if}}
  {{/link-to}}
  <div>
    {{#if auth.user }}
      <a class="btn cr-p" onClick={{action "logout"}}>Sign out</a>
    {{else}}
      {{ link-to "Log in or sign up" "sign-in" class="btn" }}
    {{/if }}
    {{#if isWayfinder}}
      {{dds/main-nav auth=auth isWayfinder=true}}
    {{else}}
      {{#link-to "index"}}
        <h2>buy.nsw</h2>
        <p>Simplifying NSW government procurement</p>
      {{/link-to}}
    {{/if}}
  </div>
</div>
