<header class="au-header au-header--dark" role="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {{#link-to "index" class="au-header__brand"}}
          <img
            class="au-header__brand-image"
            alt="Insert alternate text here"
            src="/ict/images/logo-white.svg"
          >
        {{/link-to}}
        {{# if auth.user }}
          <a class="au-btn au-btn--dark au-btn--secondary right-link" onClick={{action "logout"}}>Sign out</a>
        {{ else }}
          {{ link-to "Log in or sign up" "sign-in" class="au-btn au-btn--dark au-btn--secondary au-btn--wide right-link" }}
        {{/ if }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{#link-to "index" class="au-header__brand"}}
          <div class="au-header__text">
            <h2 class="au-header__heading au-display-xxl">buy.nsw</h2>
            <div class="au-header__heading au-display-md">Simplifying procurement for NSW government</div>
          </div>
        {{/link-to}}
        <!--
        <a 
          class="au-btn au-btn--tertiary au-btn--dark learn-how"
          href="https://vimeo.com/272480667"
          target="_blank"
        >
          {{fa-icon 'play'}} &nbsp; Learn how
        </a>
        -->
      </div>
    </div>
  </div>
</header>
{{#if nonav}}
  <hr class="simple-white">
{{else}}
  {{dds/main-nav}}
{{/if}}
