<div class="container-fluid">
	<div class="footer__start row">
		<section class="col-md-12">
			<h4>For general enquiries and help</h4>
			<ul class="footer__social au-link-list">
				<li><a href="mailto:buy.nsw@customerservice.nsw.gov.au"><span>{{fa-icon "envelope" prefix="fas"}}</span> buy.nsw@customerservice.nsw.gov.au</a></li>
			</ul>
			<p class="footer__note">We pay respect to the Traditional Custodians and First Peoples of NSW and acknowledge their continued connection to their country and cultures.</p>
		</section>
		<nav class="col-md-18 col-md-offset-6">
			<h4>buy.nsw services and platforms</h4>
			<ul class="au-link-list cols-2">
				<li><a href="https://beta.buy.nsw.gov.au/policy-library" target="_blank" rel="noopener">Policy library {{fa-icon "external-link" prefix="far"}}</a> <span class="beta">Beta</span></li>
				<li>{{ link-to "Supplier hub" "index" }}</li>
				<li><a href="https://www.procurepoint.nsw.gov.au/" target="_blank" rel="noopener">ProcurePoint {{fa-icon "external-link" prefix="far"}}</a></li>
				<li><a href="https://tenders.nsw.gov.au/" target="_blank" rel="noopener">eTendering {{fa-icon "external-link" prefix="far"}}</a></li>
				<li><a href="https://tenders.nsw.gov.au/?event=admin.login" target="_blank" rel="noopener">eQuote {{fa-icon "external-link" prefix="far"}}</a></li>
				<li><a href="https://catalogues.buy.nsw.gov.au" target="_blank" rel="noopener">eCatalogue {{fa-icon "external-link" prefix="far"}}</a></li>
				<li><a href="https://supplierdata.buy.nsw.gov.au/PCM/login.load.do" target="_blank" rel="noopener">Supplier Data Portal {{fa-icon "external-link" prefix="far"}}</a></li>
				<li><a href="https://www.majorsuppliersportal.nsw.gov.au/login" target="_blank" rel="noopener">Major Suppliers' Portal {{fa-icon "external-link" prefix="far"}}</a></li>
			</ul>
		</nav>
	</div>

	<nav class="au-footer__end row">
		<section class="col-sm-18">
			<h4>Follow us</h4>
			<ul class="footer__social au-link-list au-link-list--inline">
				<li><a href="https://www.facebook.com/digital.nsw" target="_blank" rel="noopener"><i>Facebook</i> <span>{{fa-icon "facebook-f" prefix="fab"}}</span></a></li>
				<li><a href="https://twitter.com/digital_nsw" target="_blank" rel="noopener"><i>Twitter</i> <span>{{fa-icon "twitter" prefix="fab"}}</span></a></li>
			</ul>
		</section>
		<ul class="col-sm-18 au-link-list cols-2">
			<li><a href="https://beta.buy.nsw.gov.au/about-us" target="_blank" rel="noopener">About us {{fa-icon "external-link" prefix="far"}}</a></li>
			<li>{{ link-to "Contact" "contact" }}</li>
			<li><a href="https://beta.buy.nsw.gov.au/terms-of-use" target="_blank" rel="noopener">Terms of use {{fa-icon "external-link" prefix="far"}}</a></li>
			<li><a href="https://beta.buy.nsw.gov.au/privacy" target="_blank" rel="noopener">Privacy {{fa-icon "external-link" prefix="far"}}</a></li>
			<li><a href="https://beta.buy.nsw.gov.au/accessibility" target="_blank" rel="noopener">Accessibility {{fa-icon "external-link" prefix="far"}}</a></li>
			<li><a href="https://beta.buy.nsw.gov.au/copyright" target="_blank" rel="noopener">Copyright {{fa-icon "external-link" prefix="far"}}</a></li>
		</ul>
	</nav>

	{{#if auth.config.build_version}}
		<div class="au-footer__end">
			<ul class="au-tags au-tags--dark">
				<li>
					<a
						target="_blank"
						rel="noopener"
						href="https://github.com/digitalnsw/buy-nsw/commits/{{auth.config.build_version}}"
					>
						{{auth.config.environment}} env ({{auth.config.build_version}}, built at {{auth.config.build_time}})
					</a>
				</li>
			</ul>
		</div>
	{{/if}}
</div>
