<label for="textarea">{{label-text}}</label>
{{textarea
  class=(concat "au-text-input au-text-input--block "
      (if thin "au-text-input--thin")
      (if theme (concat "au-text-input--" theme)))
  focus-out=(action "focusOut")
  key-up = (action "keyUp")
  value=(mut field)
  maxlength=maxLength
}}
{{#if maxLength}}
  <p class="gray">
    {{sub maxLength (if field (get field "length") 0)}} characters remaining
  </p>
{{/if}}
{{#if (and (not disabled) (and displayError invalid))}}
  {{dds/validation-error thin=thin type=(or errorType "error") message=errorMessage float=(or float "left")}}
{{else if (and apiError displayError)}}
  {{dds/validation-error thin=thin type="warning" message=apiError float=(or float "left")}}
{{/if}}
