<div class="row">
  {{#unless noLabel}}
    <div class={{concat (if allRow "col-sm-36" "col-sm-36 col-md-12") (unless thin " text-input-label")}}>
      <label for="text-input">
        {{label-text}}
        {{yield}}
      </label>
    </div>
  {{/unless}}
  <div class={{if allRow "col-sm-36" "col-sm-36 col-md-24"}}>
    {{input
      class=(concat
              "au-text-input "
              (if wide "au-text-input--block ")
              (if thin "au-text-input--thin ")
              (if theme (concat "au-text-input--" theme)))
      value=(mut field)
      type=(if password "password" "text")
      disabled=disabled
      pattern=pattern
      focus-out=(action "focusOut")
      enter=enter
      key-up=(action "keyUp")
      placeholder=placeHolder
      autocomplete=(if noAutoComplete "new-password" "true")
      maxlength=maxLength
    }}
    {{#if maxLength}}
      <p class="gray">
        {{sub maxLength (if field (get field "length") 0)}} characters remaining
      </p>
    {{/if}}
    {{#if (and displayError (and required (is-empty field)))}}
      {{dds/validation-error thin=thin type="error" message="This field is required" float=(or float "left")}}
    {{else if (and (not disabled) (and displayError invalid))}}
      {{#unless wide}}
        <br>
      {{/unless}}
      {{dds/validation-error thin=thin type=(or errorType "error") message=errorMessage float=(or float "left")}}
    {{else if (and apiError displayError)}}
      {{dds/validation-error thin=thin type="warning" message=apiError float=(or float "left")}}
    {{/if}}
  </div>
</div>
