{{#if isSimple}}
  <div class={{concat "validation " type}}>
    {{message}}
  </div>
{{else}}
  <div class={{if wide "max60" "max65p"}}>
    <span
      class={{concat
          "field-error " type
          (if (eq float "left") " pull-left" " pull-right")
          (if thin " thin")
          }}
    >
      {{message}}
    </span>
  </div>
  <div class="clear-both"></div>
{{/if}}
