<h5 class="au-display-md">
  <b class="sapphire">Methodologies</b>
</h5>
<p>
  <b>What are the different project management methodologies used within your company that may be of interest to buyers?</b>
</p>
{{#if form.methodologies}}
  <p>
    {{breaklines form.methodologies}}
  </p>
{{else}}
  <p>
    No methodologies are currently listed.
  </p>
{{/if}}
<hr class="super-light">

<h5 class="au-display-md">
  <b class="sapphire">Knowledge base</b>
</h5>
<p>
  <b>What products and/or services does your business have specialist knowledge in?</b>
</p>
{{#if form.knowledge_base}}
  <p>
    {{breaklines form.knowledge_base}}
  </p>
{{else}}
  <p>
    No knowledge bases are currently listed.
  </p>
{{/if}}
<hr class="super-light">

<h5 class="au-display-md">
  <b class="sapphire">Quality control</b>
</h5>
<p>
  <b>What methods and processes have you implemented to ensure the quality of your products and services?</b>
</p>
{{#if form.quality_control}}
  <p>
    {{breaklines form.quality_control}}
  </p>
{{else}}
  <p>
    No quality controls are currently listed.
  </p>
{{/if}}
<hr class="super-light">

<h5 class="au-display-md">
  <b class="sapphire">Security</b>
</h5>
<p>
  <b>What security protocols and safeguards have you implemented in relation to your products and services?</b>
</p>
{{#if form.security}}
  <p>
    {{breaklines form.security}}
  </p>
{{else}}
  <p>
    No security information is currently listed.
  </p>
{{/if}}
