<p>
  <b>Website URL</b><br>
  {{dds/text-input
    theme="turquoise"
    thin=true
    field=form.website_url
    wide=true
    allRow=true
    invalid=(v-get form 'website_url' 'isInvalid')
    errorMessage=(v-get form 'website_url' 'message')
  }}
</p>
<p>
  <b>Linkedin page</b><br>
  {{dds/text-input
    theme="turquoise"
    thin=true
    field=form.linkedin_url
    wide=true
    allRow=true
    invalid=(v-get form 'linkedin_url' 'isInvalid')
    errorMessage=(v-get form 'linkedin_url' 'message')
  }}
</p>
<p>
  <b>Twitter feed</b><br>
  {{dds/text-input
    theme="turquoise"
    thin=true
    field=form.twitter_url
    wide=true
    allRow=true
    invalid=(v-get form 'twitter_url' 'isInvalid')
    errorMessage=(v-get form 'twitter_url' 'message')
  }}
</p>
<p>
  <b>Facebook page</b><br>
  {{dds/text-input
    theme="turquoise"
    thin=true
    field=form.facebook_url
    wide=true
    allRow=true
    invalid=(v-get form 'facebook_url' 'isInvalid')
    errorMessage=(v-get form 'facebook_url' 'message')
  }}
</p>
<p>
  <b>Instagram URL</b><br>
  {{dds/text-input
    theme="turquoise"
    thin=true
    field=form.instagram_url
    wide=true
    allRow=true
    invalid=(v-get form 'instagram_url' 'isInvalid')
    errorMessage=(v-get form 'instagram_url' 'message')
  }}
</p>
<p>
  <b>Youtube channel</b><br>
  {{dds/text-input
    theme="turquoise"
    thin=true
    field=form.youtube_url
    wide=true
    allRow=true
    invalid=(v-get form 'youtube_url' 'isInvalid')
    errorMessage=(v-get form 'youtube_url' 'message')
  }}
</p>
<br>
{{seller-profile/edit-save
  theme="turquoise"
  form=form
}}
