{{#if (or (eq form.status 'pending') (eq form.status 'pending_locked'))}}
{{else}}
  {{#if underEdit}}
    {{#if secondary}}
      {{dds/secondary-button
        theme=theme
        class="f-r"
        thin=true
        label="Save"
        onClick=(action "saveClicked")
        disabled=(or (v-get form 'isInvalid') (not form.hasDirtyAttributes))
      }}
    {{else}}
      {{dds/primary-button
        theme=theme
        class="f-r"
        thin=true
        label="Save"
        onClick=(action "saveClicked")
        disabled=(or (v-get form 'isInvalid') (not form.hasDirtyAttributes))
      }}
    {{/if}}
    {{dds/tertiary-button
      class="pull-right"
      thin=true
      onClick=(action "cancelClicked")
      label="Cancel"
     }}
  {{else}}
    {{#if secondary}}
      {{dds/secondary-button
        theme=theme
        class="f-r"
        thin=true
        label="Edit"
        onClick=(action "editClicked")
      }}
    {{else}}
      {{dds/primary-button
        theme=theme
        class="f-r"
        thin=true
        label="Edit"
        onClick=(action "editClicked")
      }}
    {{/if}}
  {{/if}}
  <div class="clear-both"></div>
{{/if}}
