{{#if (or (eq form.status 'pending') (eq form.status 'pending_locked'))}}
{{else}}
  {{#if underEdit}}
    {{dds/primary-button
      theme=theme
      class="f-r"
      thin=true
      label="Save"
      onClick=(action "saveClicked")
      disabled=(or (v-get form 'isInvalid') (not form.hasDirtyAttributes))
    }}
    {{dds/tertiary-button
      class="pull-right"
      thin=true
      onClick=(action "cancelClicked")
      label="Cancel"
     }}
  {{else}}
    {{dds/primary-button
      theme=theme
      class="f-r"
      thin=true
      label="Edit"
      onClick=(action "editClicked")
    }}
  {{/if}}
  <div class="clear-both"></div>
{{/if}}
