{{#dds/accordion-container
  title="Government credentials"
  subline="Tip: It's useful for Buyers to see if suppliers have other relevant government experience."
  theme="sapphire"
  expanded=false}}
  <hr class="super-light">
  <p><b>Describe products and services you have provided to government.
Buyers are interested in previous experience you may have working on similar projects.</b></p>
  <br>
  {{#each form.government_credentials as |cred index|}}
    <div class="row">
      <div class="col-sm-24">
        <h5 class="au-display-md">
          <br>
          <b class="sapphire">Project contact</b>
          <br>
        </h5>
        <div class="row">
          <div class="col-sm-18">
            {{dds/text-input
              label-text="First name"
              field=(mut cred.first_name)
              signal=(mut form.signal)
              thin=true
              allRow=true
              wide=true
            }}
          </div>
          <div class="col-sm-18">
            {{dds/text-input
              label-text="Last name"
              field=(mut cred.last_name)
              signal=(mut form.signal)
              thin=true
              allRow=true
              wide=true
            }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-18">
            {{dds/text-input
              label-text="Role"
              field=(mut cred.role)
              signal=(mut form.signal)
              thin=true
              allRow=true
              wide=true
            }}
          </div>
          <div class="col-sm-18">
            {{dds/text-input
              label-text="Products / services provided"
              field=(mut cred.provided_services)
              signal=(mut form.signal)
              thin=true
              allRow=true
              wide=true
            }}
          </div>
        </div>
        <p>
          {{dds/text-area
            field=(mut cred.project_description)
            label-text="Briefly describe this project"
            signal=(mut form.signal)
            maxLength=500
            thin=true
          }}
          {{dds/tertiary-button
            thin=true
            class="pull-right"
            theme="sapphire"
            onClick=(action "removeCredential" index)
            label="Remove this row"
          }}
        </p>
      </div>
    </div>
    <hr class="super-light">
  {{/each}}
  <div class="row">
    <div class="col-sm-24">
      <p>
        {{dds/tertiary-button icon="plus-circle" thin=true theme="sapphire" onClick=(action "addCredential") label="Add row"}}
      </p>
    </div>
  </div>
  <p>
    {{seller-profile/edit-save
      theme="sapphire"
      form=form
    }}
  </p>
{{/dds/accordion-container}}
