<p><b>Describe products and services you have provided to government.
Buyers are interested in previous experience you may have working on similar projects.</b></p>
<br>
{{#each form.government_credentials as |cred index|}}
  {{#let (get form.apiErrors.government_credentials index) as |apiError|}}
    <div class="row">
      <div class="col-sm-24">
        <h5 class="au-display-md">
          <br>
          <b class="sapphire">Project contact</b>
          <br>
        </h5>
        <div class="row">
          <div class="col-sm-18">
            {{dds/text-input
              label-text="First name"
              field=(mut cred.first_name)
              signal=(mut form.signal)
              thin=true
              allRow=true
              wide=true
              apiError=apiError.first_name
              keepApiError=true
            }}
          </div>
          <div class="col-sm-18">
            {{dds/text-input
              label-text="Last name"
              field=(mut cred.last_name)
              signal=(mut form.signal)
              thin=true
              allRow=true
              wide=true
              apiError=apiError.last_name
              keepApiError=true
            }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-18">
            {{dds/text-input
              label-text="Role"
              field=(mut cred.role)
              signal=(mut form.signal)
              thin=true
              allRow=true
              wide=true
              apiError=apiError.role
              keepApiError=true
            }}
          </div>
          <div class="col-sm-18">
            {{dds/text-input
              label-text="Services provided"
              field=(mut cred.provided_services)
              signal=(mut form.signal)
              thin=true
              allRow=true
              wide=true
              apiError=apiError.provided_services
              keepApiError=true
            }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-18">
            {{dds/text-input
              label-text="Phone number"
              field=(mut cred.phone)
              signal=(mut form.signal)
              thin=true
              allRow=true
              wide=true
              apiError=apiError.phone
              keepApiError=true
            }}
          </div>
          <div class="col-sm-18">
            {{dds/text-input
              label-text="Email address"
              field=(mut cred.email)
              signal=(mut form.signal)
              thin=true
              allRow=true
              wide=true
              apiError=apiError.email
              keepApiError=true
            }}
          </div>
        </div>
        <p>
          {{dds/text-area
            field=(mut cred.project_description)
            label-text="Briefly describe this project"
            signal=(mut form.signal)
            maxLength=500
            thin=true
            apiError=apiError.project_description
            keepApiError=true
          }}
          {{dds/tertiary-button
            thin=true
            class="pull-right"
            theme="sapphire"
            onClick=(action "removeCredential" index)
            label="Remove this credential"
          }}
        </p>
      </div>
    </div>
    <hr class="super-light">
  {{/let}}
{{/each}}
<div class="row">
  <div class="col-sm-24">
    <p>
      {{dds/tertiary-button icon="plus-circle" thin=true theme="sapphire" onClick=(action "addCredential") label="Add a credential"}}
    </p>
  </div>
</div>
