<h5 class="au-display-md">
  <b class="sapphire">Government credentials</b>
</h5>
<br>
<p><b>Describe products and services you have provided to government.  Buyers are interested in previous experience you may have working on similar projects.</b></p>

{{#if form.government_credentials}}
  {{#each form.government_credentials as |cred|}}
    <h5 class="au-display-md">
      <b class="sapphire">{{cred.provided_services}}</b>
    </h5>
    <p>
      {{cred.project_description}}
    </p>
    <p>
      <b>Contact</b><br>
      {{cred.first_name}} {{cred.last_name}}<br>
      {{cred.role}}
    </p>
  {{/each}}
{{else}}
  <p>No government credentials are listed.</p>
{{/if}}
