{{#dds/accordion-container
  title="Government credentials"
  subtitle="Tip: It's useful for Buyers to see if suppliers have other relevant government experience."
  theme="sapphire"
  expanded=false}}
  {{#if underEdit}}
    {{seller-profile/edit-save
      theme="sapphire"
      underEdit=(mut underEdit)
      form=form
    }}
    {{seller-profile/government-credential-edit form=form}}
  {{else}}
    <div class="row">
      <p class="simple-alert col-xs-18">Only available to registered buyers</p>
      <div class="col-xs-18">
        {{seller-profile/edit-save
          theme="sapphire"
          underEdit=(mut underEdit)
          form=form
        }}    
      </div>
    </div>
    <div class="cool-infobox sapphire">
      You can add to and update your government credentials at any time.
    </div>
    {{seller-profile/government-credential-view form=form}}
  {{/if}}
  {{seller-profile/edit-save
    theme="sapphire"
    underEdit=(mut underEdit)
    form=form
  }}
{{/dds/accordion-container}}
