{{#dds/accordion-container
  title="Government credentials"
  subtitle="ğ—§ğ—¶ğ—½: It's useful for buyers to see if suppliers have other relevant government experience."
  theme="sapphire"
  expanded=expanded}}
  {{#if underEdit}}
    {{seller-profile/edit-save
      class="a-r"
      theme="sapphire"
      underEdit=(mut underEdit)
      form=form
    }}
    {{seller-profile/government-credential-edit form=form}}
  {{else}}
    <div class="row" id="government-credential">
      {{#dds/info-box class="col-xs-27"}}
        {{fa-icon "info-circle" prefix="fas"}} Only available to registered buyers
      {{/dds/info-box}}
      {{seller-profile/edit-save
        class="col-xs-9"
        theme="sapphire"
        underEdit=(mut underEdit)
        form=form
      }} 
    </div>
    <div class="cool-infobox sapphire">
      You can add to and update your government credentials at any time.
    </div>
    {{seller-profile/government-credential-view form=form}}
  {{/if}}
  {{seller-profile/edit-save
    class="a-r"
    theme="sapphire"
    underEdit=(mut underEdit)
    form=form
  }}
{{/dds/accordion-container}}
