{{#dds/accordion-container
  title="Promotional video"
  subtitle="You can upload relevant video content here to provide buyers with project or business information."
  theme="sapphire"
  class="has-tip"
  expanded=false}}
  <hr class="super-light">
  {{#if underEdit}}
    {{seller-profile/promotional-video-edit form=form}}
  {{else}}
    <div class="cool-infobox sapphire">
      {{fa-icon "exclamation-circle" size="2x" prefix="fal" pull="left"}}
      <span>
        In this section you can upload a video of a recent case study or other informative content about your business.
      </span>
      <div class="clear-both"></div>
    </div>

    {{seller-profile/promotional-video-view form=form}}
  {{/if}}
  <p>
    {{seller-profile/edit-save
      theme="sapphire"
      underEdit=(mut underEdit)
      form=form
    }}
  </p>
{{/dds/accordion-container}}
