{{#dds/accordion-container
  title="References and case studies"
  subtitle="References (especially for other government projects) and case studies may help buyers make a decision."
  subtitleBold="Tip:"
  theme="sapphire"
  expanded=false}}
  {{#if underEdit}}
    {{seller-profile/edit-save
      theme="sapphire"
      underEdit=(mut underEdit)
      form=form
    }} 
    {{seller-profile/reference-and-case-study-edit form=form}}
  {{else}}
    <div class="row">
      <p class="simple-alert col-xs-18">Only available to registered buyers</p>
      <div class="col-xs-18">
        {{seller-profile/edit-save
          theme="sapphire"
          underEdit=(mut underEdit)
          form=form
        }}    
      </div>
    </div>
    <div class="cool-infobox sapphire">
      You can add and update your references and case studies at any time.
    </div>
    {{seller-profile/reference-and-case-study-view form=form buyerView=true}}
  {{/if}}
  {{seller-profile/edit-save
    theme="sapphire"
    underEdit=(mut underEdit)
    form=form
  }}
{{/dds/accordion-container}}
