<h5 class="au-display-md">
  <b class="sapphire">Licenses</b>
</h5>
<p>
  <b>Add the name of a license that will be of relevance to a buyer.</b>
</p>
{{#if form.licenses}}
  <ol>
    {{#each form.licenses as |license|}}
      <li>{{license}}</li>
    {{/each}}
  </ol>
  <br>
  {{#if buyerView}}
    {{dds/file-download
      field=form.license_document_ids
      fileService=fileService
      multiple=true
    }}
  {{/if}}
{{else}}
  <p>
    No licenses are currently listed.
  </p>
{{/if}}
<hr class="super-light">

<h5 class="au-display-md">
  <b class="sapphire">Accreditations</b>
</h5>
<p>
  <b>Add the name of an accrediting authority and an accreditation, that will be of value to a buyer.  Membership of government schemes and panels are not considered accreditations.</b>
</p>
{{#if form.accreditations}}
  <ol>
    {{#each form.accreditations as |accreditation|}}
      <li>{{accreditation}}</li>
    {{/each}}
  </ol>
  <br>
  {{#if buyerView}}
    {{dds/file-download
      field=form.accreditation_document_ids
      fileService=fileService
      multiple=true
    }}
  {{/if}}
{{else}}
  <p>
    No accreditations are currently listed.
  </p>
{{/if}}
<hr class="super-light">

<h5 class="au-display-md">
  <b class="sapphire">Industry engagements</b>
</h5>
<p>
  <b>Are you involved in any industry boards, committees or groups?</b>
</p>
{{#if form.engagements}}
  <ol>
    {{#each form.engagements as |engagement|}}
      <li>{{engagement}}</li>
    {{/each}}
  </ol>
{{else}}
  <p>
    No industry engagements are currently listed.
  </p>
{{/if}}
<hr class="super-light">

<h5 class="au-display-md">
  <b class="sapphire">Awards</b>
</h5>
<p>
  <b>Add the name of an award and sponsor that will be of relevance to a buyer.</b>
</p>
{{#if form.awards}}
  <ol>
    {{#each form.awards as |award|}}
      <li>{{award}}</li>
    {{/each}}
  </ol>
{{else}}
  <p>
    No awards are currently listed.
  </p>
{{/if}}
