{{#dds/accordion-container
  title="Licenses, accreditations, industry engagements and awards"
  subtitle="𝗧𝗶𝗽: This is your opportunity to share some of the things you are proud of."
  theme="sapphire"
  expanded=expanded}}
  {{#if underEdit}}
    {{seller-profile/edit-save
      class="f-r"
      theme="sapphire"
      underEdit=(mut underEdit)
      form=form
    }} 
    {{seller-profile/reputation-and-distinction-edit form=form}}
  {{else}}
    <div class="row" id="reputation-and-distinction">
      {{#dds/info-box class="col-xs-27"}}
        {{fa-icon "check-circle" prefix="fas"}} Publicly viewable
      {{/dds/info-box}}
      {{seller-profile/edit-save
        class="col-xs-9"
        theme="sapphire"
        underEdit=(mut underEdit)
        form=form
      }} 
    </div>
    <div class="cool-infobox sapphire">
      You can add and update your accreditations, engagements and awards at any time.
    </div>
    {{seller-profile/reputation-and-distinction-view form=form buyerView=true}}
  {{/if}}
  {{seller-profile/edit-save
    class="a-r"
    theme="sapphire"
    underEdit=(mut underEdit)
    form=form
  }}
{{/dds/accordion-container}}
