{{#dds/accordion-container
  title="Licenses, accreditations, industry engagements and awards"
  subline="Tip: this is your opportunity to share some of the things you are proud of."
  theme="sapphire"
  expanded=false}}
  <p>
    {{seller-profile/edit-save
      theme="sapphire"
      underEdit=(mut underEdit)
      form=form
    }}
  </p>
  {{#if underEdit}}
    {{seller-profile/reputation-and-distinction-edit form=form}}
  {{else}}
    {{seller-profile/reputation-and-distinction-view form=form buyerView=true}}
  {{/if}}
  <p>
    {{seller-profile/edit-save
      theme="sapphire"
      underEdit=(mut underEdit)
      form=form
    }}
  </p>

{{/dds/accordion-container}}
