{{#dds/accordion-container
  title="Licenses, accreditations, industry engagements and awards"
  subtitle="This is your opportunity to share some of the things you are proud of."
  theme="sapphire"
  class="has-tip"
  expanded=false}}
  {{seller-profile/edit-save
    theme="sapphire"
    class="float-right"
    underEdit=(mut underEdit)
    form=form
  }}
  {{#if underEdit}}
    {{seller-profile/reputation-and-distinction-edit form=form}}
  {{else}}
    {{seller-profile/reputation-and-distinction-view form=form buyerView=true}}
  {{/if}}
  <p>
    {{seller-profile/edit-save
      theme="sapphire"
      underEdit=(mut underEdit)
      form=form
    }}
  </p>

{{/dds/accordion-container}}
