{{#dds/accordion-container
  title="Team members"
  subtitle="Do you have team leads with specialist technical knowledge?"
  theme="sapphire"
  class="has-tip"
  expanded=false}}

  <hr class="super-light">
  <div class="row">
    <div class="col-sm-12">
    </div>
    <div class="col-sm-24">
      {{seller-profile/edit-save
        theme="sapphire"
        underEdit=(mut underEdit)
        form=form
      }}
    </div>
  </div>
  {{#if underEdit}}
    {{seller-profile/team-member-edit form=form}}
  {{else}}
    {{seller-profile/team-member-view form=form buyerView=true}}
  {{/if}}
  <div class="row">
    <div class="col-sm-12">
    </div>
    <div class="col-sm-24">
      {{seller-profile/edit-save
        theme="sapphire"
        underEdit=(mut underEdit)
        form=form
      }}
    </div>
  </div>

{{/dds/accordion-container}}
