{{#dds/accordion-container
  title="Team members"
  subtitle="Tip: Do you have team leads with specialist technical knowledge?"
  theme="sapphire"
  expanded=false
}}
  {{#if underEdit}}
    {{seller-profile/edit-save
      theme="sapphire"
      underEdit=(mut underEdit)
      form=form
    }} 
    {{seller-profile/team-member-edit form=form}}
  {{else}}
    <div class="row">
      <p class="simple-alert col-xs-18">Only available to registered buyers</p>
      <div class="col-xs-18">
        {{seller-profile/edit-save
          theme="sapphire"
          underEdit=(mut underEdit)
          form=form
        }}    
      </div>
    </div>
    <div class="cool-infobox sapphire">
      You can add and update your accreditations, engagements and awards at any time.
    </div>
    {{seller-profile/team-member-view form=form buyerView=true}}
  {{/if}}
  {{seller-profile/edit-save
    theme="sapphire"
    underEdit=(mut underEdit)
    form=form
  }}
{{/dds/accordion-container}}
