{{#dds/accordion-container
  title="Team members"
  theme="sapphire"
  expanded=false}}
  <p><b>Tip:</b> Do you have team leads with specialist technical knowledge?</p>
  <hr class="super-light">
  <p><b>Buyers may want to contact a specialist team member with specific questions about their requirements</b></p>
  <br>
  {{#each form.team_members as |member index|}}
    <div class="row">
      <div class="col-sm-12">
        {{dds/avatar-upload signal=(mut form.signal) field=(mut member.avatar_id) fileService=fileService}}
      </div>
      <div class="col-sm-24">
        <h5 class="au-display-md">
          <br>
          <b class="sapphire">Contact</b>
        </h5>
        <div class="row">
          <div class="col-sm-18">
            {{dds/text-input
              label-text="First name"
              field=(mut member.first_name)
              signal=(mut form.signal)
              thin=true
              allRow=true
              wide=true
            }}
          </div>
          <div class="col-sm-18">
            {{dds/text-input
              label-text="Last name"
              field=(mut member.last_name)
              signal=(mut form.signal)
              thin=true
              allRow=true
              wide=true
            }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-18">
            {{dds/text-input
              label-text="Role"
              field=(mut member.role)
              signal=(mut form.signal)
              thin=true
              allRow=true
              wide=true
            }}
          </div>
          <div class="col-sm-18">
            {{dds/text-input
              label-text="Email address"
              field=(mut member.email)
              signal=(mut form.signal)
              thin=true
              allRow=true
              wide=true
            }}
          </div>
        </div>
        <p>
          {{dds/text-area
            field=(mut member.speciality)
            label-text="What are their specialist areas of knowledge?"
            signal=(mut form.signal)
            maxLength=500
            thin=true
          }}
          {{dds/tertiary-button
            thin=true
            class="pull-right"
            theme="sapphire"
            onClick=(action "removeMember" index)
            label="Remove this team member"
          }}
        </p>
      </div>
    </div>
    <hr class="super-light">
  {{/each}}
  <div class="row">
    <div class="col-sm-12">
    </div>
    <div class="col-sm-24">
      <p>
        {{dds/tertiary-button icon="plus-circle" thin=true theme="sapphire" onClick=(action "addMember") label="Add a team member"}}
      </p>
    </div>
  </div>
  <p>
    {{seller-profile/edit-save
      theme="sapphire"
      form=form
    }}
  </p>
{{/dds/accordion-container}}
