{{#dds/accordion-container
  title="Team members"
  subtitle="Do you have team leads with specialist technical knowledge?"
  theme="sapphire"
  class="has-tip"
  expanded=false}}
  {{seller-profile/edit-save
    theme="sapphire"
    class="float-right"
    underEdit=(mut underEdit)
    form=form
  }}
  {{#if underEdit}}
    {{seller-profile/team-member-edit form=form}}
  {{else}}
    {{seller-profile/team-member-view form=form buyerView=true}}
  {{/if}}
  <p>
    {{seller-profile/edit-save
      theme="sapphire"
      underEdit=(mut underEdit)
      form=form
    }}
  </p>

{{/dds/accordion-container}}
