<div class="row">
  <div class="col-sm-12">
    <br>
    <h3 class="au-display-md">Your Voice product:</h3>
    <h2 class="au-display-lg form-title"><b>Unified Communications</b></h2>
    <p>Please select the features and attributes of your TPA compliant product:</p>
    <hr>
    {{telco-forms/shared/sla-availability
      product=(mut product)
      showError=showError
    }}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <br>
    {{telco-forms/shared/user-license
      product=(mut product)
      items=(array
        (hash key="10" label="10")
        (hash key="25" label="25")
        (hash key="50" label="50")
        (hash key="100" label="100")
        (hash key="250" label="250")
        (hash key="300" label="300")
        (hash key="500" label="500")
        (hash key="1000" label="1000")
        (hash key="2000" label="2000")
        (hash key="5000" label="5000")
      )
    }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <br>
    {{telco-forms/shared/simultaneous_calls
      product=(mut product)
      items=(array
        (hash key="10" label="10")
        (hash key="25" label="25")
        (hash key="50" label="50")
        (hash key="100" label="100")
        (hash key="250" label="250")
        (hash key="300" label="300")
        (hash key="500" label="500")
        (hash key="1000" label="1000")
        (hash key="2000" label="2000")
        (hash key="5000" label="5000")
      )
    }}
  </div>
</div>
{{telco-forms/shared/license-capacity-validator product=(mut product)}}
<hr>
<div class="row">
  <div class="col-sm-12">
    <br>
    {{telco-forms/shared/backend-type
      product=(mut product)
      items=(array
        (hash key="cloud" label="Cloud")
      )
    }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <br>
    {{telco-forms/shared/client-type
      product=(mut product)
      items=(array
        (hash key="mobile" label="Mobile Client")
        (hash key="pc" label="PC Client")
        (hash key="desk" label="Desk Client")
        (hash key="meeting-room" label="Meeting Room")
        (hash key="video-room" label="Video Room")
      )
    }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <br>
    {{telco-forms/shared/base-schedule
      product=(mut product)
      items=(array
        (hash key="defined" label="As defined in Requirements schedule")
      )
    }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <br>
    {{telco-forms/shared/device-type
      product=(mut product)
      items=(array
        (hash key="handsets" label="Handsets")
        (hash key="conference-phones" label="Conference Phones")
        (hash key="integrated-access" label="Integrated Access")
        (hash key="video-conferencing" label="Video Conferencing")
      )
    }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <br>
    {{telco-forms/shared/client-management
      product=(mut product)
      items=(array
        (hash key="managed" label="Managed")
        (hash key="unmanaged" label="Unmanaged")
      )
    }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <br>
    {{telco-forms/shared/provision-delivery
      product=(mut product)
      items=(array
        (hash key="configuration" label="Configuration")
        (hash key="installation" label="Installation")
        (hash key="training" label="Training")
      )
    }}
  </div>
</div>
<div class="clear-both"></div>
