{{#dds/template-body}}
  {{dds/bread-crumbs
    links=(array
      (hash name="buy.nsw" route="index")
      (hash name="About")
    )
  }}
  <br>
  <h2 class="au-display-xl underline-light">
    <b>About</b>
  </h2>
  <br>
  <br>
  <br>
  <div class="col-sm-4">
  </div>
  <div class="sticky-nav">
    <div class="inpage-nav">
      {{dds/inpage-nav
        sections=(array
          (hash name="Starting with cloud" anchor="starting-with-cloud")
          (hash name="What's in the pipeline?" anchor="whats-in-the-pipeline")
          (hash name="Easier to buy cloud" anchor="easier-to-buy-cloud")
          (hash name="Supplying cloud to government" anchor="supplying-cloud-to-government")
        )
      }}
    </div>
  </div>
  <div class="col-sm-8">
    <p>
      <b>buy.nsw</b> is simplifying NSW Government procurement for buyers and suppliers of information and communications technology, starting with cloud products and services. 
    </p>

    <h2 class="au-display-xl" id="starting-with-cloud">
      <b>Starting with cloud</b>
    </h2>
    <p>
      We’ve started with cloud products and services.<br>
      Currently, on buy.nsw you can browse:
      <ul>
        <li>cloud applications and software products</li>
        <li>cloud hosting and infrastructure products</li>
        <li>cloud businesses who supply cloud products and support services.</li>
      </ul>
    </p>

    <h2 class="au-display-xl" id="whats-in-the-pipeline">
      <b>What's in the pipeline?</b>
    </h2>
    <p>
      Over time we plan to add more ICT suppliers and their services on buy.nsw, including: 
      <ul>
        <li>telecommunications</li>
        <li>software design and development</li>
        <li>software licensing and maintenance</li>
        <li>end-user computing and peripherals</li>
        <li>infrastructure and networks</li>
        <li>managed and outsourced services</li>
        <li>advisory and consulting</li>
        <li>training and learning. </li>
      </ul>
      <br>
      Join our <a target="_blank" href="https://confirmsubscription.com/h/i/3992ECED35E9DBB6">mailing list</a> to stay informed as we grow. 
    </p>

    <h2 class="au-display-xl" id="easier-to-buy-cloud">
      <b>Easier to buy cloud</b>
    </h2>
    <p>
      When looking to buy cloud products and services you will be able to view up-to-date product and supplier information and 89 points of product data. This includes:
      <ul>
        <li>disclosures</li>
        <li>financial information</li>
        <li>insurance certificates</li>
        <li>reporting/analytics</li>
        <li>backup and recovery</li>
        <li>security standards and practices.</li>
      </ul>
      <br>
      To get started, you can {{link-to "register" "signup" "buyer"}} on buy.nsw, once your email is confirmed you can complete your buyer application.
    </p>
    <p>
      <b>buy.nsw</b> provides detailed information about suppliers and their services, so you can select the right supplier for your needs. But, we’re still learning. If you’d like to help us improve buy.nsw, you can <a target="_blank" href="https://confirmsubscription.com/h/i/4268398C54B52D3C">join our buyer research group</a>.
    </p>
    <p>
      For more, read {{link-to "the buyer guide" "buyer-guide"}}.
    </p>

    <h2 class="au-display-xl" id="supplying-cloud-to-government">
      <b>Supplying cloud to government</b>
    </h2>
    <p>
    Once you {{link-to "register" "signup" "seller"}}  with buy.nsw, you can make an application to be a supplier of cloud products and services to NSW Government.
    </p>
    <p>
    Through the information you provide, buyers will have a concise view of your supplier profile and product details.  With all your relevant information on tap, they can understand your offering and contact you directly through buy.nsw.
    <p>
    </p>
    With supplier self-service, you can log in any time to update your profile and product details. This means your most up-to date information is available to buyers when they need it.
    <p>
    </p>
    <b>buy.nsw</b> offers a single place for suppliers to provide details about their business to the whole of NSW Government, and we only request information we really need, when we need it. But, we’re still learning, if you’d like to help us improve buy.nsw, you can <a target="_blank" href="https://confirmsubscription.com/h/i/27180B5F207EDE42">join our supplier research group</a>.
    <p>
    </p>
    For more, read {{link-to "the supplier guide" "seller-guide"}}
    </p>
  </div>
{{/dds/template-body}}
