{{#dds/template-body signin=true}}
  <div class="col-sm-12">
    <h1 class="au-display-lg">Your account settings</h1>
  </div>
  <div class="col-sm-24">
    <b>Your email address</b>
    {{dds/text-input
      wide=true
      allRow=true
      field=(mut this.model.email)
      enter=(action "submit")
      focusOut=(action (mut showEmailError) true)
    }}
    {{#if (v-get this "model.email" "isInvalid")}}
      <div class="max48">
        <span class="field-error error">Email address is not valid</span>
      </div>
      <div class="clear-both"></div>
    {{/if}}
    <hr class="light">
    <b>Your new password</b>
    <p>
      Leave blank if you don't want to change it.
      Passwords must be at least 8 characters long.
      Tip: create a password with 3 or more words – it's secure and easy to remember.
    </p>
    {{dds/text-input
      wide=true
      allRow=true
      password=true
      noAutoComplete=true
      field=(mut newPassword)
      enter=(action "submit")
    }}
    <div class="max48">
      {{#if (eq newPassword.length 0)}}
        <span class="field-error blank">Password is blank</span>
      {{else if (lt newPassword.length 8)}}
        <span class="field-error short">Password is too short</span>
      {{else if (lt strength 3)}}
        <span class="field-error weak">Password is not strong enough</span>
      {{else}}
        <span class="field-error strong">Password is strong</span>
      {{/if}}
      <div class="clear-both"></div>
    </div>
    <br>
    <b>Confirm your new password</b>
    <br>
    {{dds/text-input
      wide=true
      allRow=true
      password=true
      noAutoComplete=true
      field=(mut confirmPassword)
      enter=(action "submit")
    }}
    {{#if (v-get this "confirmPassword" "isInvalid")}}
      <div class="max48">
        <span class="field-error short">Passwords don't match</span>
      </div>
      <div class="clear-both"></div>
    {{/if}}
    <hr class="light">
    <b>Enter your current password</b>
    <p>We need this to confirm your changes</p>
    {{dds/text-input
      wide=true
      allRow=true
      password=true
      noAutoComplete=true
      field=(mut currentPassword)
      enter=(action "submit")
    }}
    {{#if apiError}}
      <div class="max48">
        <span class="field-error error">{{apiError}}</span>
      </div>
      <div class="clear-both"></div>
    {{/if}}
    <p>
      <span class="float-right">
        {{dds/primary-button
          onClick=(action "submit")
          disabled=(v-get this "isInvalid")
          label="Update account details"
        }}
      </span>
    </p>
  </div>
{{/dds/template-body}}
