{{#dds/template-body auth=auth signin=true}}
  <div class="col-sm-12">
    <h1 class="au-display-lg">Your account settings</h1>
  </div>
  <div class="col-sm-24">
    <b>Your email address</b>
    {{dds/text-input
      wide=true
      allRow=true
      field=(mut this.model.email)
      enter=(if (v-get this "isValid") (action "submit"))
      focusOut=(action (mut showEmailError) true)
      apiError=apiError.email
      invalid=(v-get this "model.email" "isInvalid")
      errorMessage=(v-get this "model.email" "message")
      float="right"
    }}
    <hr class="light">
    <b>Your new password</b>
    <p>
      Leave blank if you don't want to change it.
      Passwords must be at least 8 characters long.
      Tip: create a password with 3 or more words – it's secure and easy to remember.
    </p>
    {{dds/text-input
      wide=true
      allRow=true
      password=true
      noAutoComplete=true
      field=(mut newPassword)
      enter=(if (v-get this "isValid") (action "submit"))
    }}
    {{#if (eq newPassword.length 0)}}
      {{dds/validation-error type="gray" message="Password is blank" float="right"}}
    {{else if (lt newPassword.length 8)}}
      {{dds/validation-error type="error" message="Password is too short" float="right"}}
    {{else if (lt strength 3)}}
      {{dds/validation-error type="warning" message="Password is not strong enough" float="right"}}
    {{else}}
      {{dds/validation-error type="green" message="Password is strong" float="right"}}
    {{/if}}
    <br>
    <b>Confirm your new password</b>
    <br>
    {{dds/text-input
      wide=true
      allRow=true
      password=true
      noAutoComplete=true
      field=(mut confirmPassword)
      enter=(if (v-get this "isValid") (action "submit"))
      invalid=(v-get this "confirmPassword" "isInvalid")
      errorMessage=(v-get this "confirmPassword" "message")
      float="right"
    }}
    <hr class="light">
    <b>Enter your current password</b>
    <p>We need this to confirm your changes</p>
    {{dds/text-input
      wide=true
      allRow=true
      password=true
      noAutoComplete=true
      field=(mut currentPassword)
      enter=(if (v-get this "isValid") (action "submit"))
      apiError=apiError.password
      float="right"
    }}
    <p>
      <span class="float-right">
        {{dds/primary-button
          onClick=(action "submit")
          disabled=(v-get this "isInvalid")
          label="Update account details"
        }}
      </span>
    </p>
  </div>
{{/dds/template-body}}
