{{dds/skip-link}}

{{user-pretender}}

{{dds/browser-compatibility browser=(user-agent "browser")}}
{{dds/template-header auth=auth}}
{{dds/main-nav auth=auth noBorder=true}}

{{#dds/banner
  title="Buyer dashboard"
  heading=(if this.model.buyer.name this.model.buyer.name "No name provided yet")
  links=(array
      (hash name="buy.nsw" route="index")
      (hash name="Dashboard" route="buyer-dashboard")
    )
  background="buyer-dashboard"
  light=true}}
  <div class="row on-the-edge">
    <div class="col-md-12">
      <span class="banner-button tally">
        <span>{{this.model.sellerStats.pending}}&nbsp;supplier updates</span>
        <span>{{this.model.sellerStats.approved}} suppliers</span>
      </span>
      <br>
    </div>


    <div class="col-sm-18 col-sm-offset-18 col-md-11 col-md-offset-13 col-lg-9 col-lg-offset-15">
        {{#if (and this.model.buyer this.model.buyer.approved)}}
          Your buyer account is active {{link-to "Edit My Account" "register-buyer" class="au-btn au-btn--sapphire banner-button"}}
        {{else if (and this.model.buyer this.model.buyer.pendingApproval)}}
          <span class="au-btn au-btn--sapphire banner-button">Buyer application pending manager approval.</span>
        {{else if (and this.model.buyer this.model.buyer.underReview)}}
          <span class="au-btn au-btn--sapphire banner-button">Buyer application under review.</span>
        {{else if (and this.model.buyer this.model.buyer.draft)}}
          {{link-to "Continue with your buyer application" "register-buyer" class="au-btn au-btn--sapphire banner-button"}}
        {{else if (not this.model.buyer)}}
          {{link-to "Register as an ICT buyer" "register-buyer" class="au-btn au-btn--sapphire banner-button"}}
        {{else}}
          <span class="au-btn au-btn--sapphire banner-button">Your buyer application is rejected or inactive</span>
        {{/if}}
      <br>
    </div>
  </div>
{{/dds/banner}}

<main id="content">
  <div class="au-body">
    {{#dds/template-body auth=auth}}
      <div class="row dashboard-notes">
        <div class="col-md-12">on the <b>buy.nsw</b> platform</div>
        <div class="col-md-15 col-lg-offset-3">
          {{#if this.model.seller.lastProfileUpdate}}
            <strong>Last updated:</strong> {{this.model.seller.lastProfileUpdate}}
          {{/if}}
        </div>
      </div>

      {{# if this.model.seller }}
        {{#dds/call-out}}
          <h5 class="au-display-sm"><b>Your company {{this.model.seller.statusMessage}}.</b></h5>
        {{/dds/call-out}}
      {{/if}}

      <h4 class="au-display-xl center"><b>Welcome to buy.nsw</b></h4>
      <p class="center"><b class="sapphire">What would you like to do today?</b></p>
      
      
  <div class="row">
    <div class="col-sm-24">
      <h2>Dashboard</h2>
      <br>
      <p>
        {{#if (and this.model.buyer this.model.buyer.approved)}}
          <b>Your buyer account is active.</b>
          <br>
          <p>
            To get started, browse:<br>
            <ul>
              <li>{{link-to "Applications and software" "cloud-search" "applications-software"}}</li>
              <li>{{link-to "Hosting and infrastructure" "cloud-search" "hosting-infrastructure"}}</li>
            </ul><br>
            Or {{link-to "return to the buy.nsw homepage" "index"}} for more options.
          </p>
        {{else if (and this.model.buyer this.model.buyer.pendingApproval)}}
          <b>Your buyer application is pending your manager approval.</b><br>
          <p>
            In the meantime, browse:<br>
            <ul>
              <li>{{link-to "Applications and software" "cloud-search" "applications-software"}}</li>
              <li>{{link-to "Hosting and infrastructure" "cloud-search" "hosting-infrastructure"}}</li>
            </ul><br>
            Or {{link-to "return to the buy.nsw homepage" "index"}} for more options.
          </p>
        {{else if (and this.model.buyer this.model.buyer.underReview)}}
          <b>Your buyer application is under review.</b><br>
          <p>
            In the meantime, browse:<br>
            <ul>
              <li>{{link-to "Applications and software" "cloud-search" "applications-software"}}</li>
              <li>{{link-to "Hosting and infrastructure" "cloud-search" "hosting-infrastructure"}}</li>
            </ul><br>
            Or {{link-to "return to the buy.nsw homepage" "index"}} for more options.
          </p>
        {{else if (and this.model.buyer this.model.buyer.draft)}}
          {{link-to "Continue with your buyer application" "register-buyer"}}
        {{else if (not this.model.buyer)}}
          {{link-to "Register as an ICT buyer who can buy" "register-buyer"}}
        {{else}}
          <b>Your buyer application is rejected or not active any more.</b><br>
        {{/if}}
      </p>
      <br>
      <br>
      {{#dds/call-out}}
        <h5 class="au-display-lg">
          <b>Our suppliers so far</b>
        </h5><br>
        <div class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-9">
            <h4 class="au-display-xxxl">
              <b>{{this.model.sellerStats.pending}}</b>
            </h4>
            <b>in review</b>
          </div>
          <div class="col-sm-9">
            <h4 class="au-display-xxxl">
              <b>{{this.model.sellerStats.approved}}</b>
            </h4>
            <b>approved</b>
          </div>
        </div>
      {{/dds/call-out}}
      <p>
        If you can't see what you need check back soon, or tell us what you'd like to see more of by emailing
        <a href="mailto:buy.nsw@customerservice.nsw.gov.au">buy.nsw@customerservice.nsw.gov.au</a>.
      </p>
      <p>
        We're always happy to hear from our buyers and suppliers.
      </p>
      <p>
        {{link-to
          "Change your email address or password"
          "account-settings"
          class="au-cta-link small"
        }}
        <br>
        {{link-to
          "Contact support"
          "contact"
          class="au-cta-link small"
        }}
      </p>
    </div>
  </div>

{{/dds/template-body}}

  </div>
  {{dds/page-feedback user=auth.user feedbackService=feedbackService}}
</main>

{{dds/template-footer auth=auth}}
