{{#dds/template-body}}
  {{dds/bread-crumbs
    links=(array
      (hash name="buy.nsw" route="index")
      (hash name="Suppliers" route="cloud-sellers")
      (hash name=this.model.seller.name)
    )
  }}
  <br>
  {{#if (not auth.user)}}
    {{#dds/call-out}}
      To see the full supplier profile, {{link-to "create a buyer account" "signup" "buyer"}}, or
      {{link-to "sign in" "sign-in"}}.
    {{/dds/call-out}}
  {{else if (not auth.user.can_buy)}}
    {{#dds/call-out}}
      To see the full supplier profile you need to be an approved buyer.
    {{/dds/call-out}}
  {{/if}}
  <h2 class="au-display-xl">
    {{this.model.seller.name}}
  </h2>
  <br>
  <ul class="au-tags">
    {{#each this.model.seller.tags as |tag|}}
      <li>
        {{tag}}
      </li>
    {{/each}}
  </ul>
  <p>{{breaklines this.model.seller.summary}}</p>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-12">
    </div>
    <div class="sticky-nav">
      <div class="inpage-nav">
        {{dds/inpage-nav
          sections=(array
            (hash name="Company details" anchor="company-details")
            (hash name="Disclosures" anchor="disclosures" hide=(not auth.user.can_buy))
            (hash name="Recognition" anchor="recognition")
            (hash name="Products" anchor="products" hide=(is-empty this.model.products))
          )
        }}
      </div>
    </div>
    <div id="company-details" class="col-sm-24">
      <h2 class="au-display-lg">
        Company details
      </h2>
      <hr class="light">
      {{#if this.model.seller.website_url}}
        <div class="row">
          <div class="col-sm-18">
            <b>Website</b>
          </div>
          <div class="col-sm-18">
            <a target="_blank" href={{this.model.seller.website_url}}>{{this.model.seller.website_url}}</a>
          </div>
        </div>
        <hr class="light">
      {{/if}}
      {{#if this.model.seller.linkedin_url}}
        <div class="row">
          <div class="col-sm-18">
            <b>LinkedIn</b>
          </div>
          <div class="col-sm-18">
            <a target="_blank" href={{this.model.seller.linkedin_url}}>{{this.model.seller.linkedin_url}}</a>
          </div>
        </div>
        <hr class="light">
      {{/if}}
      {{#if auth.user.can_buy}}
        <div class="row">
          <div class="col-sm-18">
            <b>Business contact</b>
          </div>
          <div class="col-sm-18">
            {{this.model.seller.contact_first_name}} {{this.model.seller.contact_last_name}}
            <br>
            <a href="telto:{{this.model.seller.contact_phone}}">{{this.model.seller.contact_phone}}</a>
            <br>
            <a href="mailto:{{this.model.seller.contact_email}}">{{this.model.seller.contact_email}}</a>
          </div>
        </div>
        <hr class="light">
      {{/if}}
      {{#if auth.user.can_buy}}
        <div class="row">
          <div class="col-sm-18">
            <b>Authorised representative</b>
          </div>
          <div class="col-sm-18">
            {{this.model.seller.representative_first_name}} {{this.model.seller.representative_last_name}}
            <br>
            <a href="telto:{{this.model.seller.representative_phone}}">{{this.model.seller.representative_phone}}</a>
            <br>
            <a href="mailto:{{this.model.seller.representative_email}}">{{this.model.seller.representative_email}}</a>
          </div>
        </div>
        <hr class="light">
      {{/if}}
      <div class="row">
        <div class="col-sm-18">
          <b>ABN</b>
        </div>
        <div class="col-sm-18">
          <a target="_blank" href="https://abr.business.gov.au/ABN/View/{{this.model.seller.abn}}">{{this.model.seller.abn}}</a>
        </div>
      </div>
      <hr class="light">
      {{#if auth.user.can_buy}}
        <div class="row">
          <div class="col-sm-18">
            <b>Location</b>
          </div>
          <div class="col-sm-18">
            <ul class="less-left-padding">
              {{#each this.model.seller.addresses as |address|}}
                <li>
                  {{address.address}}
                  {{address.address_2}}
                  {{address.address_3}}<br>
                  {{address.suburb}}<br>
                  {{address.state}}, {{address.postcode}}<br>
                  {{address.country}}
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
        <hr class="light">
      {{/if}}
      <p>
        {{dds/top-link}}
      </p>
      {{#if auth.user.can_buy}}
        <div class="row" id="disclosures">
          <br>
          <h2 class="au-display-lg">
            Disclosures
          </h2>
          <hr class="light">
        </div>
        <div class="row">
          <div class="col-sm-18">
            <b>Receivership</b>
          </div>
          <div class="col-sm-18">
            {{#if this.model.seller.receivership}}
              {{breaklines this.model.seller.receivership_details}}
            {{else}}
              No
            {{/if}}
          </div>
        </div>
        <hr class="light">
        <div class="row">
          <div class="col-sm-18">
            <b>Investigation</b>
          </div>
          <div class="col-sm-18">
            {{#if this.model.seller.investigations}}
              {{breaklines this.model.seller.investigations_details}}
            {{else}}
              No
            {{/if}}
          </div>
        </div>
        <hr class="light">
        <div class="row">
          <div class="col-sm-18">
            <b>Legal Proceedings</b>
          </div>
          <div class="col-sm-18">
            {{#if this.model.seller.legal_proceedings}}
              {{breaklines this.model.seller.legal_proceedings_details}}
            {{else}}
              No
            {{/if}}
          </div>
        </div>
        <hr class="light">
        <div class="row">
          <div class="col-sm-18">
            <b>Insurance Claims</b>
          </div>
          <div class="col-sm-18">
            {{#if this.model.seller.insurance_claims}}
              {{breaklines this.model.seller.insurance_claims_details}}
            {{else}}
              No
            {{/if}}
          </div>
        </div>
        <hr class="light">
        <div class="row">
          <div class="col-sm-18">
            <b>Conflicts Of Interest</b>
          </div>
          <div class="col-sm-18">
            {{#if this.model.seller.conflicts_of_interest}}
              {{breaklines this.model.seller.conflicts_of_interest_details}}
            {{else}}
              No
            {{/if}}
          </div>
        </div>
        <hr class="light">
        <div class="row">
          <div class="col-sm-18">
            <b>Other Circumstances</b>
          </div>
          <div class="col-sm-18">
            {{#if this.model.seller.other_circumstances}}
              {{this.model.seller.other_circumstances_details}}
            {{else}}
              No
            {{/if}}
          </div>
        </div>
        <hr class="light">
        <p>
          {{dds/top-link}}
        </p>
      {{/if}}
      <div class="row" id="recognition">
        <br>
        <h2 class="au-display-lg">
          Recognition
        </h2>
        <hr class="light">
      </div>
      {{#if (not (is-empty this.model.seller.awards))}}
        <div class="row">
          <div class="col-sm-18">
            <b>Awards</b>
          </div>
          <div class="col-sm-18">
            <ul class="less-left-padding">
              {{#each this.model.seller.awards as |item|}}
                <li>{{item}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
        <hr class="light">
      {{/if}}
      {{#if (not (is-empty this.model.seller.accreditations))}}
        <div class="row">
          <div class="col-sm-18">
            <b>Accreditations</b>
          </div>
          <div class="col-sm-18">
            <ul class="less-left-padding">
              {{#each this.model.seller.accreditations as |item|}}
                <li>{{item}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
        <hr class="light">
      {{/if}}
      {{#if (not (is-empty this.model.seller.engagements))}}
        <div class="row">
          <div class="col-sm-18">
            <b>Industry engagements</b>
          </div>
          <div class="col-sm-18">
            <ul class="less-left-padding">
              {{#each this.model.seller.engagements as |item|}}
                <li>{{item}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
        <hr class="light">
      {{/if}}
      {{#if auth.user.can_buy}}
        <div class="row">
          <div class="col-sm-18">
            <b>Government experience</b>
          </div>
          <div class="col-sm-18">
            {{#if this.model.seller.no_experience}}
              No, we're looking forward to working with government for the first time
              <br>
            {{/if}}
            {{#if this.model.seller.local_government_experience}}
              Yes, with local government
              <br>
            {{/if}}
            {{#if this.model.seller.state_government_experience}}
              Yes, with state or territory government
              <br>
            {{/if}}
            {{#if this.model.seller.federal_government_experience}}
              Yes, with federal government
              <br>
            {{/if}}
            {{#if this.model.seller.international_government_experience}}
              Yes, with government outside Australia<br>
              <br>
            {{/if}}
          </div>
        </div>
        <hr class="light">
      {{/if}}
      <p>
        {{dds/top-link}}
      </p>
      {{#if (not (is-empty this.model.products))}}
        <div class="row" id="products">
          <br>
          <h2 class="au-display-lg">
            Products
          </h2>
          <hr class="light">
        </div>
        {{#each this.model.products as |product|}}
          <div class="row">
            <div class="col-sm-9">
              {{link-to product.name "public-product" product.id}}
            </div>
            <div class="col-sm-27">
              {{product.summary}}
            </div>
          </div>
          <hr class="light">
        {{/each}}
        <p>
          {{dds/top-link}}
        </p>
      {{/if}}
    </div>
  </div>
{{/dds/template-body}}
