{{dds/skip-link}}

{{user-pretender}}

{{dds/template-header}}

<main id="content">
  <div class="au-body">
    {{#dds/template-body}}
      <br>
      <div class="row">
        <div class="col-sm-5">
          <p class="home-title">
            <b>buy.nsw</b>
            is a NSW Government procurement platform for <b class="dark-blue">digital products and services</b>.
            <br>
            <br>
            <a class="au-cta-link" href="#">Learn more</a>
          </p>
        </div>
        <div class="col-sm-6">
          <p class="au-callout au-callout--home-top light">
            <div class="right-arrow">
              {{fa-icon "chevron-right"}}
            </div>
            <b>Selling your ICT products to NSW Government</b>
            <br>
            <a href="#">Register as an ICT seller who can sell?</a>
          </p>
          <p class="au-callout au-callout--home-top">
            <div class="right-arrow">
              {{fa-icon "chevron-right"}}
            </div>
            <b>Buying on behalf of NSW Government</b>
            <br>
            <a href="#">Register as an ICT buy who can buy?</a>
          </p>
        </div>
      </div>
    {{/dds/template-body}}
  </div>
  <div class="au-body au-body--alt">
    {{#dds/template-body}}
      <div class="row">
        <div class="col-sm-4">
          <div class="home-middle-box">
            <div class="right-arrow">
              {{fa-icon "chevron-right"}}
            </div>
            <h6 class="au-display-lg"><b>Browse ICT Vendors</b></h6>
            <hr>
            <div class="highlight"><a href="#"><b>Cloud sellers</b></a></div>
            <br>
            <div class="highlight"><a href="#"><b>TPA sellers</b></a></div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="home-middle-box">
            <div class="right-arrow">
              {{fa-icon "chevron-right"}}
            </div>
            <h6 class="au-display-lg"><b>Browse Cloud Products</b></h6>
            <hr>
            <div class="highlight"><a href="#"><b>Cloud applications and software</b></a></div>
            <p>
              e.g. accounting tools or customer management softwaere
            </p>
            <br>
            <div class="highlight"><a href="#"><b>Hosting and infrastructure solutions</b></a></div>
            <p>
              e.g. website hosting and load balancing servies
            </p>
          </div>
        </div>
      </div>
    {{/dds/template-body}}
  </div>
  <div class="au-body">
    {{#dds/template-body}}
      <br>
      <h6 class="au-display-xl"><b>New and Updates</b></h6>
      <br>
      <div class="row">
        <div class="col-sm-3">
          <div class="home-middle-box">
            <a target="_blank" href="https://www.digital.nsw.gov.au/article/buynsw-looking-back-looking-ahead">
              <b>buy.nsw looking back, looking ahead</b>
            </a>
            <hr>
            <i class="date">22 Jan 2019</i>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="home-middle-box">
            <a target="_blank" href="https://www.digital.nsw.gov.au/article/pitch-pilot-providing-innovators-direct-access-nsw-government">
              <b>Pitch to Pilot: Providing innovators with direct access to NSW Government</b>
            </a>
            <hr>
            <i class="date">13 Nov 2018</i>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="home-middle-box">
            <a target="_blank" href="https://www.digital.nsw.gov.au/article/blueprint-digital-delivery-nsw">
              <b>A blueprint for digital delivery in NSW</b>
            </a>
            <hr>
            <i class="date">12 Nov 2018</i>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="home-middle-box">
            <a target="_blank" href="https://www.digital.nsw.gov.au/article/our-journey-transforming-ict-procurement">
              <b>Our journey transforming ICT procurement</b>
            </a>
            <hr>
            <i class="date">2 Nov 2018</i>
          </div>
        </div>
      </div>
      <div>
        <div class="col-sm-9">
        </div>
        <div class="col-sm-3">
          <br>
          <br>
          <a target="_blank" href="https://www.digital.nsw.gov.au/blog" class="au-cta-link float-right">Go to blog</a>
        </div>
        
      </div>
    {{/dds/template-body}}
  </div>
  {{dds/page-feedback}}
</main>
{{dds/register-newsletter}}

{{dds/template-footer}}
