{{dds/skip-link}}

{{user-pretender}}

{{dds/template-header}}

<main id="content">
  <div class="au-body">
    {{#dds/template-body}}
      <br>
      <div class="row">
        <div class="col-sm-5">
          <p class="home-title">
            <b>buy.nsw</b>
            is a NSW Government procurement platform for <b class="dark-blue">digital products and services</b>.
            <br>
            <br>
            <a class="au-cta-link" href="https://vimeo.com/272480667" target="_blank">Learn more</a>
          </p>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-6">
          <p class="au-callout au-callout--home-top light">
            <div class="right-arrow">
              {{fa-icon "chevron-right"}}
            </div>
            <b>Selling your ICT products to NSW Government</b>
            <br>
            {{link-to "Register as an ICT seller who can sell?" "signup" "seller"}}
          </p>
          <p class="au-callout au-callout--home-top">
            <div class="right-arrow">
              {{fa-icon "chevron-right"}}
            </div>
            <b>Buying on behalf of NSW Government</b>
            <br>
            {{link-to "Register as an ICT buyer who can buy?" "signup" "buyer"}}
          </p>
        </div>
      </div>
    {{/dds/template-body}}
  </div>
  <div class="au-body au-body--alt">
    {{#dds/template-body}}
      <div class="row">
        <div class="col-sm-4">
          <div class="home-middle-box">
            <div class="right-arrow">
              {{fa-icon "chevron-right"}}
            </div>
            <h6 class="au-display-lg"><b>Browse ICT Vendors</b></h6>
            <div class="clear-both"></div>
            <hr>
            <div class="highlight">
              {{#link-to "cloud-sellers"}}
                <b>Cloud sellers</b>
              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="home-middle-box">
            <div class="right-arrow">
              {{fa-icon "chevron-right"}}
            </div>
            <h6 class="au-display-lg"><b>Browse Cloud Products</b></h6>
            <div class="clear-both"></div>
            <hr>
            <div class="highlight">
              {{#link-to "cloud-search" "applications-software"}}
                <b>Cloud applications and software</b>
              {{/link-to}}
            </div>
            <p>
              e.g. accounting tools or customer management softwaere
            </p>
            <br>
            <div class="highlight">
              {{#link-to "cloud-search" "hosting-infrastructure"}}
                <b>Hosting and infrastructure solutions</b>
              {{/link-to}}
              </div>
            <p>
              e.g. website hosting and load balancing servies
            </p>
          </div>
        </div>
      </div>
    {{/dds/template-body}}
  </div>
  <div class="au-body">
    {{#dds/template-body}}
      <br>
      <h6 class="au-display-xl"><b>New and Updates</b></h6>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <div class="home-middle-box">
            <a target="_blank" href="https://www.digital.nsw.gov.au/article/buynsw-looking-back-looking-ahead">
              <img class="newsletter" src="https://www.digital.nsw.gov.au/sites/default/files/styles/mt_video_gallery_thumbnail/public/2019-01/buy.nsw%20welcomes%202019.jpg.png?itok=zZ5d-rY9" width="100%"/>
              <b>buy.nsw looking back, looking ahead</b>
            </a>
            <hr>
            <i class="date">22 Jan 2019</i>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="home-middle-box">
            <a target="_blank" href="https://www.digital.nsw.gov.au/article/blueprint-digital-delivery-nsw">
              <img class="newsletter" src="https://www.digital.nsw.gov.au/sites/default/files/styles/mt_video_gallery_thumbnail/public/2018-12/CoreAgreements%20%281%29.png?itok=cJy9OmCZ" width="100%"/>
              <b>A blueprint for digital delivery in NSW</b>
            </a>
            <hr>
            <i class="date">12 Nov 2018</i>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="home-middle-box">
            <a target="_blank" href="https://www.digital.nsw.gov.au/article/govdc-marketplace-now-part-buynsw">
              <img class="newsletter" src="https://www.digital.nsw.gov.au/sites/default/files/styles/mt_video_gallery_thumbnail/public/2018-10/buy.nsw_socialmediaimages-211_1.jpg?itok=NQ6NelQu" width="100%"/>
              <b>GovDC Marketplace is now part of buy.nsw</b>
            </a>
            <hr>
            <i class="date">25 Sep 2018</i>
          </div>
        </div>
      </div>
      <div>
        <div class="col-sm-9">
        </div>
        <div class="col-sm-3">
          <br>
          <br>
          <a target="_blank" href="https://www.digital.nsw.gov.au/blog" class="au-cta-link float-right">Go to blog</a>
        </div>
        
      </div>
    {{/dds/template-body}}
  </div>
  {{dds/page-feedback}}
</main>
{{dds/register-newsletter}}

{{dds/template-footer}}
