{{dds/skip-link}}

{{user-pretender}}

{{dds/browser-compatibility browser=(user-agent "browser")}}
{{dds/template-header auth=auth}}
{{dds/main-nav auth=auth}}

<main id="content">
  <div class="au-body">
    {{#dds/template-body auth=auth}}
      <br>
      <div class="row">
        <div class="col-sm-16">
          <p class="home-title au-display-md">
            Welcome to the <b>buy.nsw supplier hub</b>, a place for buyers and suppliers of <b class="dark-blue">digital products and services</b> to connect
            <br>
            <br>
            {{link-to "Learn more" "about-page" class="au-cta-link no-decoration"}}
            <!--
            <a class="au-cta-link no-decoration" href="https://vimeo.com/272480667" target="_blank">Learn more</a>
            -->
          </p>
        </div>
        <div class="col-sm-18 col-sm-offset-2 home-top-links">
          {{#if auth.user}}
            {{#if auth.isSeller}}
              {{#link-to "seller-dashboard"}}
                <p class="au-callout au-callout--home-top light">
                  <div class="right-arrow">
                    {{fa-icon "chevron-right"}}
                  </div>
                  <b>Go to dashboard to continue with your supplier registration</b>
                  <br>
                  <br>
                  {{link-to "Learn more about becoming a supplier" "seller-guide"}}
                </p>
              {{/link-to}}
            {{else}}
              <a class="pointer" onClick={{action "logout"}}>
                <p class="au-callout au-callout--home-top light">
                  <div class="right-arrow">
                    {{fa-icon "chevron-right"}}
                  </div>
                  <b>To become a supplier you should logout from your buyer account first</b>
                  <br>
                  <br>
                  <a class="pointer" onClick={{action "logout"}}>Sign out</a>
                </p>
              </a>
            {{/if}}
          {{else}}
            {{#link-to "signup" "seller"}}
              <p class="au-callout au-callout--home-top light">
                <div class="right-arrow">
                  {{fa-icon "chevron-right"}}
                </div>
                <b>Register as a NSW Government supplier of digital products and services</b>
                <br>
                <br>
                {{link-to "Learn more about becoming a supplier" "seller-guide"}}
              </p>
            {{/link-to}}
          {{/if}}
          <br>
          {{#if auth.user}}
            {{#if auth.isBuyer}}
              {{#link-to "buyer-dashboard"}}
                <p class="au-callout au-callout--home-top">
                  <div class="right-arrow">
                    {{fa-icon "chevron-right"}}
                  </div>
                  <b>Go to dashboard to continue with your buyer registration</b>
                  <br>
                  <br>
                  {{link-to "Learn more about becoming a buyer" "buyer-guide"}}
                </p>
              {{/link-to}}
            {{else}}
              <a class="pointer" onClick={{action "logout"}}>
                <p class="au-callout au-callout--home-top">
                  <div class="right-arrow">
                    {{fa-icon "chevron-right"}}
                  </div>
                  <b>To become a buyer you should logout from your supplier account first</b>
                  <br>
                  <br>
                  <a class="pointer" onClick={{action "logout"}}>Sign out</a>
                </p>
              </a>
            {{/if}}
          {{else}}
            {{#link-to "signup" "buyer"}}
              <p class="au-callout au-callout--home-top">
                <div class="right-arrow">
                  {{fa-icon "chevron-right"}}
                </div>
                <b>Register as a NSW Government buyer of digital products and services</b>
                <br>
                <br>
                {{link-to "Learn more about becoming a buyer" "buyer-guide"}}
              </p>
            {{/link-to}}
          {{/if}}
        </div>
      </div>
    {{/dds/template-body}}
  </div>
  <div class="au-body au-body--alt">
    {{#dds/template-body auth=auth}}
      <div class="row">
        <div class="col-sm-12">
          <div class="home-middle-box">
            <h6 class="au-display-lg title"><b>Popular supplier categories</b></h6>
            <div class="clear-both"></div>
            <hr class="light">
            <div class="highlight">
              {{#link-to "cloud-sellers"}}
                <b>Advisory and consulting</b>
              {{/link-to}}
            </div>
            <p>
              Specialist digital expertise acting in an advisory capability to government.
            </p>
            <br>
            <div class="highlight">
              {{#link-to "cloud-search" "all"}}
                <b>Cloud products and services</b>
              {{/link-to}}
            </div>
            <p>
              Cloud-hosted software and platforms as well as cloud hosting and broker services.
            </p>
            <br>
            <div class="highlight">
              {{#link-to "cloud-sellers"}}
                <b>End-user computing and peripherals</b>
              {{/link-to}}
            </div>
            <p>
              All devices that help end users access and operate computer applications.
            </p>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="home-middle-box">
            <h6 class="au-display-lg title"><b>Browse suppliers by type</b></h6>
            <div class="clear-both"></div>
            <hr class="light">
            <div class="highlight">
              {{#link-to "cloud-sellers"}}
                <b>Regional NSW</b>
              {{/link-to}}
            </div>
            <p>
              Find a supplier headquartered in regional NSW
            </p>
            <br>
            <div class="highlight">
              {{#link-to "cloud-sellers"}}
                <b>Aboriginal or Torres Strait Islander</b>
              {{/link-to}}
              </div>
            <p>
              Find a supplier recognised as Aboriginal or Torres Strait Islander
            </p>
            <br>
            <div class="highlight">
              {{#link-to "cloud-sellers"}}
                <b>Small to medium enterprise</b>
              {{/link-to}}
              </div>
            <p>
              Find a supplier based in Australia or New Zealand with less than 200 employees
            </p>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="home-middle-box">
            <h6 class="au-display-lg title"><b>Find other buy.nsw services</b></h6>
            <div class="clear-both"></div>
            <hr class="light">
            <div class="highlight">
              <a href="https://beta.buy.nsw.gov.au" target="_blank"><b>buy.nsw</b></a>
            </div>
            <p>
              Learn more about the buy.nsw program on our home page
            </p>
            <br>
            <div class="highlight">
              <a href="https://beta.buy.nsw.gov.au/policy-library" target="_blank"><b>Policy library</b></a>
            </div>
            <p>
              A library of procurement policies that apply to NSW Government agencies, non-agency buyers and suppliers
            </p>
            <br>
            <div class="highlight">
              <a href="https://tenders.nsw.gov.au/" target="_blank"><b>eTendering</b></a>
            </div>
            <p>
              Search for current NSW Government open tender opportunities and pre-qualification schemes
            </p>
          </div>
        </div>
      </div>
    {{/dds/template-body}}
  </div>
  <div class="au-body">
    {{#dds/template-body auth=auth}}
      &nbsp;
      <h6 class="au-display-xl"><b>News</b></h6>
      <br>
      <div class="row">
        <div class="col-sm-12">
          <div class="home-news-box">
            <a target="_blank" class="no-decoration" href="https://www.digital.nsw.gov.au/article/buynsw-takes-another-step-towards-seamless-procurement">
              <img class="newsletter" style="padding-top: 1rem" src="https://www.digital.nsw.gov.au/sites/default/files/inline-images/Buy_nsw%20blog%20thumb.png" width="100%"/>
              <div class="padding" style="padding-top: 0">
                <h6 class="au-display-md">buy.nsw takes another step towards seamless procurement</h6>
              </div>
            </a>
            <hr class="light no-margin">
            <div class="padding">
              <span class="date">29 Oct 2019</span>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="home-news-box">
            <a target="_blank" class="no-decoration" href="https://www.digital.nsw.gov.au/article/buynsw-looking-back-looking-ahead">
              <img class="newsletter" src="https://www.digital.nsw.gov.au/sites/default/files/styles/mt_video_gallery_thumbnail/public/2019-01/buy.nsw%20welcomes%202019.jpg.png?itok=zZ5d-rY9" width="100%"/>
              <div class="padding">
                <h6 class="au-display-md">buy.nsw looking back, looking ahead</h6>
              </div>
            </a>
            <hr class="light no-margin">
            <div class="padding">
              <span class="date">22 Jan 2019</span>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="home-news-box">
            <a target="_blank" class="no-decoration" href="https://www.digital.nsw.gov.au/article/blueprint-digital-delivery-nsw">
              <img class="newsletter" src="https://www.digital.nsw.gov.au/sites/default/files/styles/mt_video_gallery_thumbnail/public/2018-12/CoreAgreements%20%281%29.png?itok=cJy9OmCZ" width="100%"/>
              <div class="padding">
                <h6 class="au-display-md">A blueprint for digital delivery in NSW</h6>
              </div>
            </a>
            <hr class="light no-margin">
            <div class="padding">
              <span class="date">12 Nov 2018</span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="col-sm-25">
        </div>
        <div class="col-sm-11">
          <br>
          <br>
          <a target="_blank" href="https://www.digital.nsw.gov.au/blog?tag_id[96]=96" class="au-cta-link float-right no-decoration">
            View all blogs
          </a>
        </div>
        
      </div>
    {{/dds/template-body}}
  </div>
  {{dds/page-feedback user=auth.user feedbackService=feedbackService}}
</main>
{{dds/register-newsletter}}

{{dds/template-footer auth=auth}}
