{{#dds/template-body}}
  {{ dds/bread-crumbs
    links=(array
      (hash name="Dashboard" route="seller-dashboard")
      (hash name="Your team members" route="team-members")
      (hash name="Invite a team member" route="invite-team-member")
    )
  }}
  <div class="col-xs-1">
  </div>
  <div class="col-sm-10">
    <br>
    <h1 class="au-display-lg">Invite a team member</h1>
    <p>
      You can invite other members of your team to your seller profile.
    </p>
    <p>
      Team members get full access to view and edit your company's profile and application.
    </p>
    <p>
      We will send an invitation to them by email with further instructions.
    </p>
    <p>
      {{#dds/text-input
        wide=true
        field=(mut this.model.email)
        enter=(action "invite")
        focusOut=(action (mut showError) true)
      }}
      <b>Email address:</b>
      {{/dds/text-input}}
      {{#if showError}}
        {{#if invitationErrors}}
          <div>
            <span class="field-error error">
              {{invitationErrors}}
            </span>
          </div>
        {{/if}}
        {{#if (v-get this "model.email" "isInvalid")}}
          <div>
            <span class="field-error error">
              {{v-get this "model.email" "message"}}
            </span>
          </div>
          <div class="clear-both"></div>
        {{/if}}
      {{/if}}
    </p>
    <p>
      <a
        class="au-btn float-right"
        onclick={{if (v-get this "model.email" "isValid") (action "invite")}}
        disabled={{v-get this "model.email" "isInvalid"}}
      >
        Send invitation
      </a>
    </p>
  </div>
{{/dds/template-body}}
