{{#dds/template-body auth=auth}}
  <h2>
    <b>Performance</b>
  </h2>
  <br>
  <br>
  <div class="row max60">
    <div class="col-sm-16 col-md-12">
      <p>
        Suppliers on
        <b>buy.nsw</b>
      </p>
      <br>
    </div>
    <div class="col-xs-18 col-sm-10 col-md-8 right-align">
      <p>
        <b>{{this.model.sellerStats.pending}}</b>
        in review
      </p>
    </div>
    <div class="col-xs-18 col-sm-10 col-md-8 right-align">
      <p>
        <b>{{this.model.sellerStats.approved}}</b>
        approved
      </p>
    </div>
  </div>
  <hr class="light">
  <div class="row max60">
    <div class="col-sm-16 col-md-12">
      <p>
        Buyers on
        <b>buy.nsw</b>
      </p>
      <br>
    </div>
    <div class="col-xs-18 col-sm-10 col-md-8 right-align">
      <p>
        <b>{{this.model.buyerStats.pending}}</b>
        in review
      </p>
    </div>
    <div class="col-xs-18 col-sm-10 col-md-8 right-align">
      <p>
        <b>{{this.model.buyerStats.approved}}</b>
        approved
      </p>
    </div>
  </div>
  <hr class="light">
  <div class="row max60">
    <div class="col-sm-16 col-md-12">
      <p>
        Supplier products on
        <b>buy.nsw</b>
      </p>
      <br>
    </div>
    <div class="col-xs-18 col-sm-10 col-md-8 right-align">
      <p>
        <b>{{this.model.productStats.pending}}</b>
        in review
      </p>
    </div>
    <div class="col-xs-18 col-sm-10 col-md-8 right-align">
      <p>
        <b>{{this.model.productStats.approved}}</b>
        approved
      </p>
    </div>
  </div>
{{/dds/template-body}}
