{{#ds/template-body}}
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
    {{ ds/bread-crumbs
      links=(array
        (hash name="Dashboard" route="seller-dashboard")
        (hash name="Cloud products" route="products")
        (hash name=(or this.model.name this.model.id))
      )
    }}

    {{#unless this.model.underEdit}}
      <br>
      <br>
      {{#ds/page-alert alertType="info"}}
        {{# if this.model.pending }}
          <h3>Product is locked for review</h3>
          <p>You have submitted entries or changes. While these are under review, you won't be able to view or edit the details of this product.</p>
        {{ else }}
          <h3>Product is locked</h3>
          <p>You are not able to view or edit the details of this product.</p>
        {{/ if }}

      {{/ds/page-alert}}
    {{/unless}}
    <h3 class="au-display-lg">Add cloud products</h3>

    <p class="au-callout">
      <p>Each product must:</p>
      <ul>
        <li>have a unique name that's not your business name, eg. Nimbus by CloudTech.</li>
        <li>be priced by the unit, instead of by an hourly or day rate of your employees</li>
        <li>be described in detail as to how it is hosted and delivered to the end user</li>
      </ul>
      <br>
    </p>
    <br>
    <ul class="steps-list">
      <li>
        <p>
          <h1 class="au-display-lg">Your Product</h1>
          <hr>
        </p>
        {{product-step
          product=this.model
          step=this.model.steps.type
        }}
        {{product-step
          product=this.model
          step=this.model.steps.basics
        }}
        {{product-step
          product=this.model
          step=this.model.steps.commercials
        }}
        {{product-step
          product=this.model
          step=this.model.steps.terms
        }}
        <br>
      </li>
      <li>
        <p>
          <h1 class="au-display-lg">User Support</h1>
          <hr>
        </p>
        {{product-step
          product=this.model
          step=this.model.steps.onboarding_offboarding
        }}
        {{product-step
          product=this.model
          step=this.model.steps.availability_support
        }}
        {{product-step
          product=this.model
          step=this.model.steps.reporting_analytics
        }}
        <br>
      </li>
      <li>
        <p>
          <h1 class="au-display-lg">How data is managed</h1>
          <hr>
        </p>
        {{product-step
          product=this.model
          step=this.model.steps.identity_authentication
        }}
        {{product-step
          product=this.model
          step=this.model.steps.environment
        }}
        {{product-step
          product=this.model
          step=this.model.steps.locations
        }}
        {{product-step
          product=this.model
          step=this.model.steps.user_data
        }}
        {{product-step
          product=this.model
          step=this.model.steps.backup_recovery
        }}
        <br>
      </li>
      <li>
        <p>
          <h1 class="au-display-lg">Your security approach</h1>
          <hr>
        </p>
        {{product-step
          product=this.model
          step=this.model.steps.data_protection
        }}
        {{product-step
          product=this.model
          step=this.model.steps.security_standards
        }}
        {{product-step
          product=this.model
          step=this.model.steps.security_practices
        }}
        {{product-step
          product=this.model
          step=this.model.steps.user_separation
        }}
        {{product-step
          product=this.model
          step=this.model.steps.operational_security
        }}
      </li>
    </ul>
    {{#if this.model.submitable}}
      <br>
      <br>
      <p class="left-space">
        <button
          class="au-btn"
          onclick={{action "submitProduct"}}
        >
          Submit product
        </button>
        <button
          class="au-btn au-btn--secondary"
          onclick={{action "cancelProduct"}}
        >
          Cancel draft
        </button>
      </p>
    {{/if}}
  </div>
{{/ds/template-body}}
