{{#dds/template-body}}
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
    <h1 class="au-display-xl">Buy {{this.model.product.name}}</h1>
    <p><b>buy.nsw</b> will help you through the ordering process. In order to tailor our help to you we need to ask you a few more questions.</p>
    <p>A member of our team will then contact you to help finalise the order.</p>
    <p>
      <b>What is the approximate value of the contract, excluding GST</b><br>
      <small>Please enter numbers only, for example 100000 not $100,000.</small><br>
      {{dds/text-input
        wide=true
        allRow=true
        field=(mut this.model.order.estimatedContractValue)
        enter=(action "submit")
        focusOut=(action (mut showValueError) true)
      }}
      {{#if (and showValueError (v-get this "model.order.estimatedContractValue" "isInvalid"))}}
        <div class="max48">
          <span class="field-error error">
            Please enter a number only - no symbols, spaces or commas
          </span>
        </div>
        <div class="clear-both"></div>
      {{/if}}
    </p>
    <br>
    <p>
      <b>Have you contacted the seller about your intention to buy?</b><br>
      <br>
      {{dds/radio-group
        items=(array
          (hash
            key="yes"
            label="Yes"
          )
          (hash
            key="no"
            label="No"
          )
        )
        field=(mut this.model.order.contactedSeller)
      }}
    </p>
    <br>
    <p>
      <b>Have you bought or been involved with buying cloud products before?</b><br>
      <br>
      {{dds/radio-group
        items=(array
          (hash
            key="yes"
            label="Yes"
          )
          (hash
            key="no"
            label="No"
          )
        )
        field=(mut this.model.order.purchasedCloudBefore)
      }}
    </p>
    <br>
    <p>
      <span class="float-right">
        {{dds/link-button
          onClick=(action "submit")
          disabled=(v-get this "isInvalid")
          label="Next"
        }}
      </span>
    </p>
  </div>
{{/dds/template-body}}
