{{dds/skip-link}}

{{user-pretender}}

{{dds/browser-compatibility browser=(user-agent "browser")}}
{{dds/template-header auth=auth}}
{{dds/main-nav auth=auth noBorder=true}}

{{#dds/banner
  title="Supplier profile builder"
  heading=this.model.seller.name
  subline=(concat "Last update to supplier profile: " this.model.seller.updated_at)
  links=(array
      (hash name="buy.nsw" route="index")
      (hash name="Dashboard" route="seller-dashboard")
      (hash name=(concat "Edit " this.model.seller.name))
    )
  background="editting"
  light=true}}
  <div class="on-the-edge float-right">
    {{link-to "View your profile as buyer" "seller-profile" this.model.seller.id
      class="au-btn au-btn--sapphire banner-button float-right"}}
    {{link-to "Edit company account details" "supplier-application"
      class="au-btn au-btn--turquoise banner-button float-right"}}
  </div>
{{dds/primary-btn}}

{{/dds/banner}}

<main id="content">
  <div class="au-body">
    {{#dds/template-body auth=auth}}
      <div class="cool-infobox sapphire">
        {{fa-icon "exclamation-circle" size="2x" prefix="fal" pull="left"}}
        <span>
          Use this page to update your details and to provide buyers with additional useful information about your business.
        </span>
        <div class="clear-both"></div>
      </div>
      <div class="row">
        <div class="col-sm-17 col-md-14 col-lg-11">
          {{#dds/simple-box theme="turquoise"}}
            <h4 class="au-display-lg">
              <center><b class="dark-sapphire">Contact details</b></center>
            </h4>
            <br>
            <p>
              <b>Contact</b><br>
              {{this.model.seller.contact_first_name}}
              {{this.model.seller.contact_last_name}}
            </p>
            <p>
              <b>Phone no</b><br>
              <a href="tel:{{this.model.seller.contact_phone}}">
                {{this.model.seller.contact_phone}}
              </a>
            </p>
            <p>
              <b>ABN</b><br>
              <a target="_blank" href="https://abr.business.gov.au/ABN/View/{{this.model.seller.abn}}">
                {{fa-icon "external-link" prefix="far"}}
                {{this.model.seller.abn}}
              </a>
            </p>
            <p>
              <b>Address</b><br>
              {{#with this.model.seller.addresses.[0] as |address|}}
                {{address.address}}
                {{address.address_2}}
                {{address.address_3}}
                {{address.suburb}}
                {{address.state}}
                {{address.country}}
                {{address.postcode}}
              {{/with}}
            </p>
            <p>
              <b>Email</b><br>
              <a target="_blank" href="mailto:{{this.model.seller.contact_email}}">
                {{this.model.seller.contact_email}}
              </a>
            </p>
            <br>
            {{seller-profile/contact-detail form=this.model.contact_detail}}

          {{/dds/simple-box}}
          <br>
          <br>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-18 col-md-21 col-lg-24">
          {{seller-profile/essential-information form=this.model.essential_information}}

          {{#if this.model.seller.level_2_services}}
            <hr class="super-light">
            <p><b>This supplier provides</b></p>
            <p>
              {{#each this.model.seller.level_2_services as |service index|}}
                {{dds/tag theme="turquoise" label=(humanize service) class="inline"}}
              {{/each}}
            </p>
          {{/if}}
          {{#if this.model.seller.tags}}
            <hr class="super-light">
            <p><b>Business identifiers</b></p>
            <p>
              {{#each this.model.seller.tags as |tag|}}
                {{dds/tag theme="sapphire" label=tag class="inline"}}
              {{/each}}
            </p>
          {{/if}}
          {{#if this.model.seller.documents}}
            <hr class="super-light">
            <p>
              <br>
              <b>This supplier has provided the following documentation</b><br>
              <ul>
                {{#each this.model.seller.documents as |document|}}
                  <li>{{document}}</li>
                {{/each}}
              </ul>
            </p>
          {{/if}}
          <p>
            {{link-to "Go to your Account to update your services, business identifiers and documents" "supplier-application" class="small bold"}}
          </p>
        </div>
      </div>
      <br>
      {{seller-profile/reputation-and-distinction form=this.model.reputation_and_distinction}}
      {{seller-profile/capability-and-experty form=this.model.capability_and_experty}}
      {{seller-profile/reference-and-case-study form=this.model.reference_and_case_study}}
      {{seller-profile/government-credential form=this.model.government_credential}}
      {{seller-profile/team-member form=this.model.team_member}}
      {{seller-profile/promotional-video form=this.model.promotional_video}}

    {{/dds/template-body}}
  </div>
  {{dds/page-feedback user=auth.user feedbackService=feedbackService}}
</main>

{{dds/template-footer auth=auth}}
