{{#dds/template-body signout=true}}
  <div class="col-sm-3">
  </div>
  <div class="col-sm-30">
    <h1 class="au-display-xl">Change your password</h1>
    <br>
    <b>Password</b>
    <p>
      Passwords must be at least 8 characters long.
      Tip: create a password with 3 or more words – it's secure and easy to remember.
      {{dds/text-input
        wide=true
        allRow=true
        password=true
        noAutoComplete=true
        field=(mut password)
        enter=(action "submit")
      }}
      {{#if (eq password.length 0)}}
        {{dds/validation-error type="gray" message="Password is blank" float="right"}}
      {{else if (lt password.length 8)}}
        {{dds/validation-error type="error" message="Password is too short" float="right"}}
      {{else if (lt strength 3)}}
        {{dds/validation-error type="warning" message="Password is not strong enough" float="right"}}
      {{else}}
        {{dds/validation-error type="green" message="Password is strong" float="right"}}
      {{/if}}
    </p>
    <p>
      <b>Confirm your password</b>
      <br>
      {{dds/text-input
        wide=true
        allRow=true
        password=true
        noAutoComplete=true
        field=(mut confirmPassword)
        enter=(action "submit")
        apiError=apiError
        keepApiError=true
        invalid=(v-get this "confirmPassword" "isInvalid")
        message=(v-get this "confirmPassword" "message")
        float="right"
      }}
      <hr>
    </p>
    <p>
      <span class="float-right">
        {{dds/primary-button
          onClick=(action "submit")
          disabled=(v-get this "isInvalid")
          label="Change my password"
        }}
      </span>
    </p>
  </div>
{{/dds/template-body}}
