{{#dds/template-body}}
  <div class="col-sm-15 col-md-12 col-lg-9">
    <div class="progress-menu">
      <b>Supplier application</b><br><br>
      {{dds/progress-indicator
        items=(array
          (hash route="seller-form" step="eligibility" status="done" title="Eligibility")
          (hash route="seller-form" step="company-detail" status="doing" title="Company details")
          (hash route="seller-form" step="disclosure" status="doing" title="Disclosures")
          (hash route="seller-form" step="insurance" status="todo" title="Insurances")
          (hash route="seller-form" step="company-profile" status="todo" title="Company profile")
          (hash route="seller-form" step="complete-application" status="todo" title="Complete application")
        )
      }}
      <br>
      {{#link-to "team-members"}}
        Invite a team member
        {{fa-icon "angle-right"}}
      {{/link-to}}
    </div>
  </div>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-20 col-md-23 col-lg-26">
    {{ dds/bread-crumbs
      links=(array
        (hash name="buy.nsw" route="index")
        (hash name="Supplier application" route="seller-application")
        (hash name=(humanize stepName))
      )
    }}
    <h2 class="au-display-xl underline-light">
      <b>{{humanize stepName}}</b>
    </h2>
    <br>
    <br>
    {{component (concat "seller-form/" stepName) form=(mut this.model.form)}}
    <hr class="light">
  </div>
  <div class="clear-both"></div>
  <div>
    <span class="float-right">
      {{dds/primary-button
        onClick=(action "saveContinue")
        label="Continue"
      }}
    </span>
    <span class="float-right">
      {{dds/secondary-button
        onClick=(action "saveExit")
        label="Save and exit"
      }}
    </span>
    <div class="clear-both"></div>
    <span class="float-right">
      <br>
      <small>All your data will be saved.</small>
    </span>
  </div>
{{/dds/template-body}}
