{{dds/skip-link}}

{{user-pretender}}

{{dds/browser-compatibility browser=(user-agent "browser")}}
{{dds/template-header auth=auth}}
{{dds/main-nav auth=auth noBorder=true}}

{{#dds/banner
  title="Supplier Account"
  heading=this.model.seller.name
  subline=(concat "Last update to supplier account: " this.model.seller.updated_at)
  links=(array
      (hash name="buy.nsw" route="index")
      (hash name="Dashboard" route="seller-dashboard")
      (hash name=this.model.seller.name)
    )
  background="account"
  light=true}}
  <div class="row on-the-edge">
    <div class="col-xs-18 col-md-9 col-md-offset-18">
      {{ link-to "Edit company profile" "profile-builder" class="au-btn au-btn--turquoise banner-button" }}
    </div>
    <div class="col-xs-18 col-md-9">
      {{link-to "Invite a team member" "team-members" class="au-btn au-btn--sapphire banner-button"}}
    </div>
  </div>
  {{dds/primary-btn}}
{{/dds/banner}}

<main id="content">
  <div class="au-body">
    {{#dds/template-body auth=auth}}
      <div class="cool-infobox sapphire">
        <p>You will find information that we have stored relating to your business operations here.</p>
        <p>Submitting changes to this information will require the review of the buy.nsw operations team and will take 2-3 working days.</p>
        <p><b>Not what you were looking for? Edit your {{ link-to "supplier profile" "profile-builder" }}.</b></p>
      </div>
      <!-- if insurancePolicyExpires; logic required -->
        {{#dds/info-box class="warning"}}
          <b>NOTE:</b> Your insurance policy documentation will expire in 30 days. Please {{ link-to "update your documents in the insurance section" "supplier-account" step="insurance-document" }}.
        {{/dds/info-box}}
      <!-- end insurancePolicyExpires -->
      {{#if this.model.seller.pending}}
        {{#dds/page-alert alertType="info"}}
          <h3>
            Account is locked for review
          </h3>
          <p>
            You have submitted entries or changes.
            While these are under review, you won't be able to view or edit the details of your account.
          </p>
          {{#if this.model.seller.canBeWithdrawn}}
            <p>
              You can
              <a
                class="au-btn au-btn--tertiary no-padding"
                onclick={{action "withdrawSubmission"}}
              >
                withdraw your submission
              </a>
              to edit your account and submit again.
            </p>
          {{/if}}
        {{/dds/page-alert}}
      {{/ if }}
      <br>
      <div class="row">
        <div class="col-sm-15 col-md-12 col-lg-10">
          <div class="progress-menu sapphire">
            <h4><b>My Account</b></h4>
            {{dds/progress-indicator
              stepName=stepName
              items=(array
                (hash route="seller-form" step="eligibility"
                status=this.model.steps.eligibility.status
                title="Login details")
              )
            }}
            <h4><b>Company details</b></h4>
            {{dds/progress-indicator
              stepName=stepName
              items=(array
                (hash route="seller-form" step="business-name"
                status=this.model.steps.business_name.status
                title="Business name and ABN")
                (hash route="seller-form" step="contact-detail"
                status=this.model.steps.contact_detail.status
                title="Contact details")
                (hash route="seller-form" step="product-category"
                status=this.model.steps.product_category.status
                title="Business address")
                (hash route="seller-form" step="company-type"
                status=this.model.steps.company_type.status
                title="Company type and size")
                (hash route="seller-form" step="product-category"
                status=this.model.steps.product_category.status
                title="Business categories")
              )
            }}
            <h4><b>Disclosures</b></h4>
            {{dds/progress-indicator
              stepName=stepName
              items=(array
                (hash route="seller-form" step="insurance-and-financial-document"
                optional=true
                status=this.model.steps.insurance_and_financial_document.status
                title="Insurance documents")
                (hash route="seller-form" step="insurance-and-financial-document"
                optional=true
                status=this.model.steps.insurance_and_financial_document.status
                title="Financial disclosures")
                (hash route="seller-form" step="legal-disclosure"
                status=this.model.steps.legal_disclosure.status
                title="Legal disclosures")
              )
            }}
            <h4><b>Government engagements</b></h4>
            {{dds/progress-indicator
              stepName=stepName
              items=(array
                (hash route="seller-form" step="membership-and-award"
                status=this.model.steps.membership_and_award.status
                optional=true
                title="Government schemes and panels")
              )
            }}
            <!-- start TEMP NAV items- DEMO ONLY - DELETE -->
            <h4><b>Icon Test</b></h4>
            <ul class="au-progress-indicator">
              <li><a href="#" class="au-progress-indicator__link au-progress-indicator__link--review">Account documents A</a></li>
              <li><a href="#" class="au-progress-indicator__link au-progress-indicator__link--user-edit">Account documents B</a></li>
              <li><a href="#" class="au-progress-indicator__link au-progress-indicator__link--lock">Account documents C</a></li>
            </ul>
            <!-- end TEMP NAV items - DEMO ONLY - DELETE -->            
          </div>
        </div>
        <div class="col-sm-20 col-md-23 col-lg-25 col-sm-offset-1">
          <!-- start TEMP MAIN content - DEMO ONLY - DELETE -->
          Content goes here. Dummy content follows.<br><br>
          Habeo visto un opus de theatro musicale illa septimana previa. Una femina retro me cantabat cum forte voce per illam presentationem. "Domina, per favorem desiste de cantare. Non habeo pagato octaginta dollares pro audir te." Iste resposta mea est venta in mente in train in via ad domum.
          <!-- end TEMP MAIN content - DEMO ONLY - DELETE -->
          {{component (concat "seller-account/" stepName)
            form=(mut this.model.form)
            seller=this.model.seller
          }}
        </div>
      </div><!--/.row -->
    {{/dds/template-body}}
  </div>
  {{dds/page-feedback user=auth.user feedbackService=feedbackService}}
</main>

{{dds/template-footer auth=auth}}
