{{dds/skip-link}}

{{user-pretender}}

{{dds/browser-compatibility browser=(user-agent "browser")}}
{{dds/template-header auth=auth}}
{{dds/main-nav auth=auth noBorder=true}}

{{#dds/banner
  title="Supplier Account"
  heading=this.model.seller.name
  subline=(concat "Last update to supplier account: " this.model.seller.updated_at)
  links=(array
      (hash name="buy.nsw" route="index")
      (hash name="Dashboard" route="seller-dashboard")
      (hash name=this.model.seller.name)
    )
  background="account"
  light=true}}
  <div class="row on-the-edge">
    <div class="col-xs-18 col-md-9 col-md-offset-18">
      {{ link-to "Edit company profile" "profile-builder" class="au-btn au-btn--turquoise banner-button" }}
    </div>
    <div class="col-xs-18 col-md-9">
      {{link-to "Invite a team member" "team-members" class="au-btn au-btn--sapphire banner-button"}}
    </div>
  </div>
  {{dds/primary-btn}}
{{/dds/banner}}

<main id="content">
  <div class="au-body">
    {{#dds/template-body auth=auth}}
      <div class="cool-infobox sapphire">
        <p>You will find information that we have stored relating to your business operations here.</p>
        <p>Submitting changes to this information will require the review of the buy.nsw operations team and will take 2-3 working days.</p>
        <p><b>Not what you were looking for? Edit your {{ link-to "supplier profile" "profile-builder" }}.</b></p>
      </div>
      {{#if this.model.seller.pending}}
        {{#dds/page-alert alertType="info"}}
          <h3>
            Account is locked for review
          </h3>
          <p>
            You have submitted entries or changes.
            While these are under review, you won't be able to view or edit the details of your account.
          </p>
          {{#if this.model.seller.canBeWithdrawn}}
            <p>
              You can
              <a
                class="au-btn au-btn--tertiary no-padding"
                onclick={{action "withdrawSubmission"}}
              >
                withdraw your submission
              </a>
              to edit your account and submit again.
            </p>
          {{/if}}
        {{/dds/page-alert}}
      {{/ if }}
      <br>
      <div class="row">
        <div class="col-sm-15 col-md-12 col-lg-10">
          <div class="progress-menu sapphire">
            <h4><b>My Account</b></h4>
            {{dds/progress-indicator
              stepName=stepName
              items=(array
                (hash route="seller-account" step="login"
                status=this.model.steps.eligibility.status
                title="Login details")
              )
            }}
            <h4><b>Company details</b></h4>
            {{dds/progress-indicator
              stepName=stepName
              items=(array
                (hash route="seller-account" step="business-name-and-abn"
                status=this.model.steps.business_name.status
                title="Business name and ABN")
                (hash route="seller-account" step="contact-detail"
                status=this.model.steps.contact_detail.status
                title="Contact details")
                (hash route="seller-account" step="business-address"
                status=this.model.steps.business_address.status
                title="Business address")
                (hash route="seller-account" step="company-type-and-size"
                status=this.model.steps.company_type_and_size.status
                title="Company type and size")
                (hash route="seller-account" step="business-category"
                status=this.model.steps.business_category.status
                title="Business categories")
              )
            }}
            <h4><b>Disclosures</b></h4>
            {{dds/progress-indicator
              stepName=stepName
              items=(array
                (hash route="seller-account" step="insurance-document"
                optional=true
                status=this.model.steps.insurance_document.status
                title="Insurance documents")
                (hash route="seller-account" step="financial-document"
                optional=true
                status=this.model.steps.financial_document.status
                title="Financial disclosures")
                (hash route="seller-account" step="legal-disclosure"
                status=this.model.steps.legal_disclosure.status
                title="Legal disclosures")
              )
            }}
            <h4><b>Government engagements</b></h4>
            {{dds/progress-indicator
              stepName=stepName
              items=(array
                (hash route="seller-account" step="government-schemes"
                status=this.model.steps.government_schemes.status
                optional=true
                title="Government schemes and panels")
              )
            }}
          </div>
        </div>
        <div class="col-sm-20 col-md-23 col-lg-25 col-sm-offset-1">
          {{component (concat "seller-account/" stepName)
            form=(mut this.model.form)
            seller=this.model.seller
          }}
        </div>
      </div><!--/.row -->
    {{/dds/template-body}}
  </div>
  {{dds/page-feedback user=auth.user feedbackService=feedbackService}}
</main>

{{dds/template-footer auth=auth}}
