{{#dds/template-body auth=auth signin=true}}
  <br>
  <div class="row">
    <div class="col-sm-12">
      <h2 class="au-display-xl underline-light">
        Dashboard
      </h2>
    </div>
  </div>

  <br>
  <br>

  {{# if this.model.seller }}
    <div class="row">
      <div class="col-sm-30">
        {{#dds/call-out}}
          <h5 class="au-display-sm"><b>Your company profile {{this.model.seller.statusMessage}}.</b></h5>
        {{/dds/call-out}}
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-24">
        {{# if this.model.seller.expired }}
          {{#dds/page-alert alertType="warning"}}
            <h5>Some of your documents are expired now, please refresh them as soon as possible.</h5>
          {{/dds/page-alert}}
        {{/ if }}
        <br>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12 dash-title">
        <b>{{this.model.seller.name}}</b>
      </div>
      <div class="col-sm-12">
        <div class="btn-cta-group">
            {{ link-to
              "Manage company profile"
              "supplier-application"
              class="au-cta-link small"
            }}
        </div>
      </div>
    </div>
    {{#if this.model.seller.live}}
      <div class="row">
        <div class="col-sm-12 dash-title">
          <b>{{this.model.productsCount.all}} products</b>
        </div>
        <div class="col-sm-12">
          <div class="btn-cta-group">
            {{ link-to
              "Manage cloud products"
              "products"
              class="au-cta-link small"
            }}
          </div>
        </div>
      </div>
    {{/if}}
    <div class="row">
      <div class="col-sm-12 dash-title">
        <b>{{this.model.members.length}} members</b>
      </div>
      <div class="col-sm-12">
        <div class="btn-cta-group">
          {{ link-to
            "Manage team members"
            "team-members"
            class="au-cta-link small"
          }}
        </div>
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class="col-sm-12">
      </div>
      <div class="col-sm-12">
        <div class="btn-cta-group">
          {{ link-to
            "Apply to sell ICT products and services"
            "register-seller"
            class="au-cta-link small"
          }}
        </div>
      </div>
    </div>
    <br>
  {{/if}}

  <div class="row">
    <div class="col-sm-12 dash-title">
      <b>{{this.model.user.email}}</b>
    </div>
    <div class="col-sm-12">
      <div class="btn-cta-group">
        {{link-to
          "Change email or password"
          "account-settings"
          class="au-cta-link small"
        }}
      </div>
    </div>
  </div>
{{/dds/template-body}}
