{{dds/skip-link}}

{{user-pretender}}

{{dds/browser-compatibility browser=(user-agent "browser")}}
{{dds/template-header auth=auth}}
{{dds/main-nav auth=auth noBorder=true}}

{{#dds/banner
  title="Supplier Account"
  heading=this.model.seller.name
  subline=(concat "Last update to supplier account: " this.model.seller.updated_at)
  links=(array
      (hash name="buy.nsw" route="index")
      (hash name="Dashboard" route="seller-dashboard")
      (hash name=this.model.seller.name)
    )
  background="account"
  light=true}}
  <div class="row on-the-edge">
    <div class="col-xs-18 col-md-9 col-md-offset-18">
      {{ link-to "Edit company profile" "profile-builder" class="au-btn au-btn--turquoise banner-button" }}
    </div>
    <div class="col-xs-18 col-md-9">
      {{link-to "Invite a team member" "team-members" class="au-btn au-btn--sapphire banner-button"}}
    </div>
  </div>
  {{dds/primary-btn}}
{{/dds/banner}}

<main id="content" class="sapphire-main">
  <div class="au-body">
    {{#dds/template-body auth=auth}}
      <div class="cool-infobox sapphire">
        <p>You will find information that we have stored relating to your business operations here.</p>
        <p>Submitting changes to this information will require the review of the buy.nsw operations team and will take 2-3 working days.</p>
        <p><b>Not what you were looking for? Edit your {{ link-to "supplier profile" "profile-builder" }}.</b></p>
      </div>
      {{#if (not (is-empty this.model.alertingDocuments))}}
        {{#dds/info-box class="warning"}}
          <b>NOTE:</b> 
          {{#each this.model.alertingDocuments as |alertDoc|}}
            Your {{humanize alertDoc.name}}
            {{#if (eq alertDoc.expiry "Now expired")}}
              has expired.
            {{else}}
              will expire in {{alertDoc.expiry}}.
            {{/if}}
          {{/each}}
          Please {{ link-to "update your documents in the insurance section" "seller-account" "insurance-document" }}.
        {{/dds/info-box}}
      {{/if}}
      {{#if this.model.seller.pending}}
        {{#dds/page-alert alertType="info"}}
          <h3>
            Account is locked for review
          </h3>
          <p>
            You have submitted entries or changes.
            While these are under review, you won't be able to view or edit the details of your account.
          </p>
          {{#if this.model.seller.canBeWithdrawn}}
            <p>
              You can
              <a
                class="au-btn au-btn--tertiary no-padding"
                onclick={{action "withdrawSubmission"}}
              >
                withdraw your submission
              </a>
              to edit your account and submit again.
            </p>
          {{/if}}
        {{/dds/page-alert}}
      {{/ if }}

      <br>
      <div class="row">
        {{account-nav class="col-sm-14 col-md-11" items=(array
            (hash title="My Account" links=(array
                (hash label="Login details" step="login-details")
              )
            )
            (hash title="Company details" links=(array
                (hash label="Business name and ABN" step="business-name-and-abn"
                  status=this.model.steps.business_name_and_abn.status)
                (hash label="Contact details" step="contact-detail"
                  status=this.model.steps.contact_detail.status)
                (hash label="Business address" step="business-address"
                  status=this.model.steps.business_address.status)
                (hash label="Company type and size" step="company-type-and-size"
                  status=this.model.steps.company_type_and_size.status)
                (hash label="Business categories" step="business-category"
                  status=this.model.steps.business_category.status)
              )
            )
            (hash title="Disclosures" links=(array
                (hash label="Insurance documents" step="insurance-document"
                  status=this.model.steps.insurance_document.status)
                (hash label="Financial disclosures" step="financial-document"
                  status=this.model.steps.financial_document.status)
                (hash label="Legal disclosures" step="legal-disclosure"
                  status=this.model.steps.legal_disclosure.status)
              )
            )
            (hash title="Government engagements" links=(array
                (hash label="Government schemes and panels" step="government-scheme-and-panel"
                  status=this.model.steps.government_scheme_and_panel.status)
              )
            )
          )
        }}
        <article class="sapphire-article col-sm-20 col-md-23">
          {{component (concat "seller-account/" stepName)
            form=(mut this.model.form)
            seller=this.model.seller
          }}
        </article>
      </div><!--/.row -->
    {{/dds/template-body}}
  </div>
  {{dds/page-feedback user=auth.user feedbackService=feedbackService}}
</main>

{{dds/template-footer auth=auth}}
