<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
      <h2>Dashboard</h2>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  {{# if this.model.seller }}
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        {{#page-alert alertType="info"}}
          <h5>Your compnay profile {{this.model.seller.statusMessage}}.</h5>
        {{/page-alert}}
        <br>
        <br>
      </div>
    </div>
    {{# if this.model.seller.expired }}
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          {{#page-alert alertType="warning"}}
            <h5>Some of your documents are expired now, please refresh them as soon as possible.</h5>
          {{/page-alert}}
          <br>
          <br>
        </div>
      </div>
    {{/ if }}
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-4 dash-title">
        <h5>{{this.model.seller.name}}</h5>
      </div>
      <div class="col-sm-6">
        <div class="btn-cta-group">
          <a
            class="au-cta-link small"
            onclick={{action "manageProfile"}}
          >
            Manage company profile
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-4 dash-title">
        <h5>{{this.model.products.length}} products</h5>
      </div>
      <div class="col-sm-6">
        <div class="btn-cta-group">
          {{ link-to
            "Manage products"
            "products"
            class="au-cta-link small"
          }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-4 dash-title">
        <h5>{{this.model.members.length}} members</h5>
      </div>
      <div class="col-sm-6">
        <div class="btn-cta-group">
          <a
            class="au-cta-link small"
            href="/team"
          >
            Manage team members
          </a>
        </div>
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        <div class="btn-cta-group">
          {{ link-to
            "Apply to sell ICT products and services"
            "register-seller"
            class="au-cta-link small"
          }}
        </div>
      </div>
    </div>
    <br>
  {{/if}}

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4 dash-title">
      <h5>{{this.model.user.email}}</h5>
    </div>
    <div class="col-sm-6">
      <div class="btn-cta-group">
        <a
          class="au-cta-link small"
          href="/account"
        >
          Change email or password
        </a>
      </div>
    </div>
  </div>
</div>
