<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
      <h2>Dashboard</h2>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  {{# if this.model.seller }}
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-9">
        {{#dds/call-out}}
          <h5 class="au-display-sm"><b>Your company profile {{this.model.seller.statusMessage}}.</b></h5>
        {{/dds/call-out}}
        <br>
        <br>
      </div>
    </div>
    {{# if this.model.seller.expired }}
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          {{#dds/page-alert alertType="warning"}}
            <h5>Some of your documents are expired now, please refresh them as soon as possible.</h5>
          {{/dds/page-alert}}
          <br>
          <br>
        </div>
      </div>
    {{/ if }}
    <div class="row">
      <div class="col-sm-4 dash-title">
        <b>{{this.model.seller.name}}</b>
      </div>
      <div class="col-sm-6">
        <div class="btn-cta-group">
            {{ link-to
              "Manage company profile"
              "profile"
              class="au-cta-link small"
            }}
        </div>
      </div>
    </div>
    {{#if this.model.seller.offersCloud}}
      <div class="row">
        <div class="col-sm-4 dash-title">
          <b>{{this.model.products.length}} products</b>
        </div>
        <div class="col-sm-6">
          <div class="btn-cta-group">
            {{ link-to
              "Manage cloud products"
              "products"
              class="au-cta-link small"
            }}
          </div>
        </div>
      </div>
    {{/if}}
    <div class="row">
      <div class="col-sm-4 dash-title">
        <b>{{this.model.members.length}} members</b>
      </div>
      <div class="col-sm-6">
        <div class="btn-cta-group">
          {{ link-to
            "Manage team members"
            "team-members"
            class="au-cta-link small"
          }}
        </div>
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-6">
        <div class="btn-cta-group">
          {{ link-to
            "Apply to sell ICT products and services"
            "register-seller"
            class="au-cta-link small"
          }}
        </div>
      </div>
    </div>
    <br>
  {{/if}}

  <div class="row">
    <div class="col-sm-4 dash-title">
      <b>{{this.model.user.email}}</b>
    </div>
    <div class="col-sm-6">
      <div class="btn-cta-group">
        {{link-to
          "Change email or password"
          "account-settings"
          class="au-cta-link small"
        }}
      </div>
    </div>
  </div>
</div>
