{{dds/skip-link}}

{{user-pretender}}

{{dds/browser-compatibility browser=(user-agent "browser")}}
{{dds/template-header auth=auth}}
{{dds/main-nav auth=auth noBorder=true}}

{{#dds/banner
  title="Supplier dashboard"
  heading=this.model.seller.name
  links=(array
      (hash name="buy.nsw" route="index")
      (hash name="Dashboard" route="seller-dashboard")
      (hash name=this.model.seller.name)
    )
  background="editing"
  light=true}}
  <div class="row on-the-edge">
    <div class="col-md-12">
      <span class="banner-button tally">
        <span>199 suppliers</span>
        <span>262 buyers</span>
      </span>
    </div>
    <div class="col-md-9 col-sm-18">
      {{link-to "Edit company profile" "supplier-application"
      class="au-btn au-btn--turquoise banner-button"}}
      <!--div class="update"><strong>Last updated:</strong><br /> 25 September 2019</div--><!--{{this.model.seller.updated_at}}-->
    </div>
    <div class="col-md-9 col-sm-18">
      {{link-to "Edit company account details" "seller-profile" this.model.seller.id
      class="au-btn au-btn--sapphire banner-button"}}
    </div>
  </div>
  {{dds/primary-btn}}
{{/dds/banner}}

<main id="content">
  <div class="au-body">
    {{#dds/template-body auth=auth}}
      <div class="row dashboard-notes">
        <div class="col-md-12">on the <b>buy.nsw</b> platform</div>
        <div class="col-md-9">
          <strong>Last updated:</strong> 25 September 2019<!--{{this.model.seller.updated_at}}-->
        </div>
      </div>

      <h4 class="au-display-xl center"><b>Welcome to buy.nsw</b></h4>
      <p class="center"><b class="sapphire">What would you like to do today?</b></p>

      <div class="welcome row">
        {{#dds/simple-box theme="lilac" class="col-md-12"}}
          <div class="img-wrap">
            <img src="/ict/buy-nsw-style/images/whiteboard.jpg" alt="whiteboard" />
          </div>
          <h5 class="au-display-lg center"><b class="sapphire">eTendering</b></h5>
          <p><b>Visit eTendering to:</b></p>
          <ul>
            <li>Find tenders and opportunities</li>
            <li>Research agency procurement plans</li>
            <li>Apply for the ICT Services Scheme</li>
          </ul>
          <a class="au-btn au-btn--sapphire" href="https://tenders.nsw.gov.au/" target="_blank" rel="noopener">Go to eTendering</a>
        {{/dds/simple-box}}
        {{#dds/simple-box theme="iceblue" class="col-md-12"}}
          <div class="img-wrap">
            <img src="/ict/buy-nsw-style/images/bookstore.jpg" alt="bookstore" />
          </div>
          <h5 class="au-display-lg center"><b class="sapphire">Guided Buying beta</b></h5>
          <p><b>Visit the Guided Buying beta to:</b></p>
          <ul>
            <li>Learn to win business with government</li>
            <li>Discover initiatives for small and medium enterprises</li>
            <li>Search the policy library</li>
          </ul>
          <a class="au-btn au-btn--sapphire" href="https://beta.buy.nsw.gov.au" target="_blank" rel="noopener">Go to Guided Buying beta</a>
        {{/dds/simple-box}}
        {{#dds/simple-box theme="whitesmoke" class="col-md-12"}}
          <div class="img-wrap">
            <img src="/ict/buy-nsw-style/images/collaboration-screens.jpg" alt="collaboration using computer screens" />
          </div>
          <h5 class="au-display-lg center"><b class="sapphire">ProcurePoint</b></h5>
          <p><b>Visit ProcurePoint to:</b></p>
          <ul>
            <li>Learn about the ICT Services Scheme</li>
            <li>Find guidance on the Procure IT contract framework</li>
            <li>Access training and support</li>
          </ul>
          <a class="au-btn au-btn--sapphire" href="https://www.procurepoint.nsw.gov.au/" target="_blank" rel="noopener">Go to ProcurePoint</a>
        {{/dds/simple-box}}
      </div>

      <section class="improve-visibility row">
        <div class="col-md-15 col-md-offset-3">
          <h4 class="au-display-lg"><b>How do I improve my visibility to buyers?</b></h4>
          <br />
          <p>Buyers have told us they are interested in supplier’s sharing the following:</p>
          <br />
          <ul class="au-link-list">
            <li>{{ link-to "Describe your approach to quality control" "seller-guide" class="au-cta-link small" }}</li>
            <li>{{ link-to "Describe your methodology" "seller-guide" class="au-cta-link small" }}</li>
            <li>{{ link-to "Add an accreditation" "seller-guide" class="au-cta-link small" }}</li>
            <li>{{ link-to "Describe a specialty" "seller-guide" class="au-cta-link small" }}</li>
          </ul>
          <br />
          {{ link-to "View profile as a buyer" "seller-guide" class="au-btn au-btn--sapphire" }}
        </div>
      </section>
      <br />

      <section class="make-changes center">
        <h4 class="au-display-xl"><b>Need to make changes?</b></h4>
        <div class="row">
          {{#dds/simple-box theme="iceblue" class="col-md-12"}}
            <div>{{fa-icon "cogs" prefix="fas"}}</div>
            {{ link-to "Edit your cloud products" "products" }}           
          {{/dds/simple-box}}
          {{#dds/simple-box theme="lightpeach" class="col-md-12"}}
            <div>{{fa-icon "user-circle" prefix="fas"}}</div>
            {{ link-to "Invite a team member" "profile-builder" }}
          {{/dds/simple-box}}
          {{#dds/simple-box theme="lilac" class="col-md-12"}}
            <div>{{fa-icon "edit" prefix="fas"}}</div>
            {{ link-to "Change your password" "account-settings" }}
          {{/dds/simple-box}}
        </div>
      </section>
      <br />

      {{# if this.model.seller }}
        <div class="row">
          <div class="col-sm-30">
            {{#dds/call-out}}
              <h5 class="au-display-sm"><b>Your company profile {{this.model.seller.statusMessage}}.</b></h5>
            {{/dds/call-out}}
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-24">
            {{# if this.model.seller.expired }}
              {{#dds/page-alert alertType="warning"}}
                <h5>Some of your documents are expired now, please refresh them as soon as possible.</h5>
              {{/dds/page-alert}}
            {{/ if }}
            <br>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12 dash-title">
            <b>{{this.model.seller.name}}</b>
          </div>
          <div class="col-sm-12">
            <div class="btn-cta-group">
              {{#if this.model.seller.live}}
                {{ link-to
                  "Manage company profile"
                  "profile-builder"
                  class="au-cta-link small"
                }}
              {{else}}
                {{ link-to
                  "Continue supplier application"
                  "supplier-application"
                  class="au-cta-link small"
                }}
              {{/if}}
            </div>
          </div>
        </div>
        {{#if this.model.seller.live}}
          <div class="row">
            <div class="col-sm-12 dash-title">
              <b>{{this.model.productsCount.all}} products</b>
            </div>
            <div class="col-sm-12">
              <div class="btn-cta-group">
                {{ link-to
                  "Manage cloud products"
                  "products"
                  class="au-cta-link small"
                }}
              </div>
            </div>
          </div>
        {{/if}}
        <div class="row">
          <div class="col-sm-12 dash-title">
            <b>{{this.model.members.length}} members</b>
          </div>
          <div class="col-sm-12">
            <div class="btn-cta-group">
              {{ link-to
                "Manage team members"
                "team-members"
                class="au-cta-link small"
              }}
            </div>
          </div>
        </div>
      {{else}}
        <div class="row">
          <div class="col-sm-12">
          </div>
          <div class="col-sm-12">
            <div class="btn-cta-group">
              {{ link-to
                "Apply to sell ICT products and services"
                "register-seller"
                class="au-cta-link small"
              }}
            </div>
          </div>
        </div>
        <br>
      {{/if}}

      <div class="row">
        <div class="col-sm-12 dash-title">
          <b>{{this.model.user.email}}</b>
        </div>
        <div class="col-sm-12">
          <div class="btn-cta-group">
            {{link-to
              "Change email or password"
              "account-settings"
              class="au-cta-link small"
            }}
          </div>
        </div>
      </div>
    {{/dds/template-body}}
  </div>
  {{dds/page-feedback user=auth.user feedbackService=feedbackService}}
</main>

{{dds/template-footer auth=auth}}
