{{#dds/template-body auth=auth signout=true}}
  <div class="col-sm-15">
    <h1 class="au-display-lg"><b>Create an account</b></h1>
    <br>
  </div>
  <div class="col-sm-21">
    <p>
      You can sign up as a buyer if you're a NSW Government employee or an employee of
      <a
        href="https://www.procurepoint.nsw.gov.au/before-you-buy/buyer-eligibility-and-registration"
        target="_blank"
      >another eligible organisation</a>.
    </p>
    <br>
    {{link-to "Sign up as a buyer" "signup" "buyer" class="au-btn au-btn--thin au-btn--wide au-btn--secondary"}}
    <hr>
    <p>
      You can sign up as a supplier if you're an organisation looking to sell cloud products and services to NSW government, or a member of the <a href="https://tenders.nsw.gov.au/?event=public.scheme.show&RFTUUID=852B6035-ACFE-B0A3-D10121B360FF7371" target="_blank">ICT Services Scheme</a>.
    </p>
    <br>
    {{link-to "Sign up as a supplier" "signup" "seller" class="au-btn au-btn--thin au-btn--wide au-btn--secondary"}}
    <hr>
  </div>
  <div class="col-sm-15">
    <h1 class="au-display-lg">Already have a log-in?</h1>
    <p>
      Get help if you have
      {{link-to "forgotten your password" "forgot-password"}}
      or if you
      {{link-to "haven't received a confirmation email" "reconfirm-email"}}.
    </p>
  </div>
  <div class="col-sm-21">
    <p>
      {{#dds/text-input
        wide=true
        field=(mut email)
        enter=(action "login")
      }}
        <b>Email address</b>
      {{/dds/text-input}}
    </p>
    <p>
      {{#dds/text-input
        wide=true
        password=true
        field=(mut password)
        enter=(action "login")
        apiError=auth.apiError.password
        float="right"
      }}
        <b>Password</b>
      {{/dds/text-input}}
    </p>
    <p>
      <label class="au-control-input">
        {{input
          type="checkbox"
          class="au-control-input__input"
          checked=(mut remember)
        }}
        <span class="au-control-input__text"><b>Remember me</b></span>
      </label>
    </p>
    <p>
      <a
        class="au-btn au-btn--thin au-btn--wide float-right"
        onclick={{action "login"}}
      >
        <b class="white">Sign in</b>
      </a>
    </p>
  </div>
{{/dds/template-body}}
