{{dds/skip-link}}

{{user-pretender}}

{{dds/browser-compatibility browser=(user-agent "browser")}}
{{dds/template-header auth=auth isWayfinder=true}}

<main id="content" class="wayfinder dashboard">
  <div class="container-fluid">
    <section class="feature W dashboard">
      <h1>Supplier dashboard</h1>
      <div class="flex-md j-b">
        <div class="discs">
          <ul>
            <li class="bc-dg"><b>199</b> suppliers</li>
            <li class="bc-db"><b>262</b> buyers</li>
          </ul>
          <p>on the <b>buy.nsw</b> platform</p>
        </div>
        <div class="actions">
          <a class="btn bc-dg" href="#">Edit company profile</a>
          <a class="btn bc-db" href="#">Invite a team member</a>
          <p><b class="c-dg">Last updated:</b> 25 August 2019</p>
        </div>
      </div>
    </section>
    <section id="opportunities">
      <h2 class="a-c">Opportunities in your category</h2>
      <div class="flex-sm">
        <section>
          <h4>Audit and Risk Committee Independent Chairs and Members</h4>
          <dl>
            <dt>RFT ID</dt>
            <dd>SCM2421</dd>
          </dl>
          <dl>
            <dt>Published</dt>
            <dd>5-Jul-2016</dd>
          </dl>
          <dl>
            <dt>Category</dt>
            <dd>Management and Business Professionals</dd>
          </dl>
        </section>
        <section>
          <h4>Audit and Risk Committee Independent Chairs and Members</h4>
          <dl>
            <dt>RFT ID</dt>
            <dd>SCM2421</dd>
          </dl>
          <dl>
            <dt>Published</dt>
            <dd>5-Jul-2016</dd>
          </dl>
          <dl>
            <dt>Category</dt>
            <dd>Management and Business Professionals</dd>
          </dl>
        </section>
        <section>
          <h4>Audit and Risk Committee Independent Chairs and Members</h4>
          <dl>
            <dt>RFT ID</dt>
            <dd>SCM2421</dd>
          </dl>
          <dl>
            <dt>Published</dt>
            <dd>5-Jul-2016</dd>
          </dl>
          <dl>
            <dt>Category</dt>
            <dd>Management and Business Professionals</dd>
          </dl>
        </section>
      </div>
    </section>

    <section class="a-c">
      <h4><a href="#">View 6 other listings in your category</a></h4>
      <ul class="ls-n">
        <li><a href="#">Telecommunications</a></li>
        <li><a href="#">Hosting and infrastructure</a></li>
      </ul>
    </section>

    <section id="performance">
      <h2>Performance</h2>
      <div class="flex-sm">
        <div>
          <h4>35% increase</h4>
          <p>Your profile has been viewed by 84 users in the last 30 days. This is up from 64 from the previous period.</p>
          <h5>Suppliers in your categories:</h5>
          <ul>
            <li>Telecommunications</li>
            <li>Hosting and infrastructure</li>
          </ul>
        </div>
        <section>
          <h3>Your profile is getting some exposure</h3>
          <p>buyers have indicated a strong interest in the following being shared by suppliers:</p>
          <ul class="ls-n">
            <li><a href="#">Describe your approach to quality control</a></li>
            <li><a href="#">Describe your methodology</a></li>
            <li><a href="#">Add an accreditation</a></li>
            <li><a href="#">Describe a specialty</a></li>
          </ul>
          <a href="#" class="btn bc-dg">View profile as a buyer</a>
        </section>
      </div>
    </section>

    <section id="make-changes">
      <h2 class="c-db">Need to make changes?</h2>
      <div class="flex-sm callouts">
        <div>
          <a href="#">
            <section class="DB">
              <h3>My account</h3>
              <p>Change key company data in your 'Account' area</p>
            </section>
          </a>
          <a href="#">
            <section class="DB">
              <h3>Profile builder</h3>
              <p>Build and improve upon your company profile</p>
            </section>
          </a>
        </div>
        <div>
          <a href="#">
            <section class="DB">
              <h3>Settings</h3>
              <p>Change your email or password</p>
            </section>
          </a>
        </div>
      </div>
    </section>
    {{dds/page-feedback user=auth.user feedbackService=feedbackService}}
  </div>
</main>
{{dds/register-newsletter}}

{{dds/template-footer auth=auth}}
