<TemplateBody>
  {{ bread-crumbs
    links=(array
      (hash name="Dashboard" route="seller-dashboard")
      (hash name="Telco products" route="telco-products")
    )
  }}
  <h3 class="au-display-lg">Your Telco products and services</h3>
  <br><br>
  <div class="col-sm-3">
    {{ inpage-nav
      sections=(array
        (hash link="fixed-data-services" name="Fixed Data")
        (hash link="internet-services" name="Internert Services")
        (hash link="voice-services" name="Voice Services")
        (hash link="mobile-services" name="Mobile Services")
        (hash link="common-services" name="Common Services")
      )
    }}
  </div>
  <div class="col-sm-8">
    <p class="au-callout">
      <h4>For now, buy.nsw is only open to Telco sellers who either:</h4>
      <ul>
        <li>provide Telco products, services and support that meet the government's TPA requirements</li>
        <li>are currently signed up to the NSW Government's Telecommunications Purchasing Arrangements (TPA)</li>
      </ul>
      <p>We will be opening up to more seller categories in future.</p>
    </p>
    <p>
      <b>
        <a href="/guides/seller">
          If you are looking to sell cloud products, click here.
        </a>
      </b>
    </p>
    <br>
    <br>
    <TelcoProductStack @title="Fixed data services" @id="fixed-data-services">
      <TelcoProductRow
        @name="Passive Point-to-Point - Dark Fibre"
        @form="dark-fibre"
        @product={{productsByCategory.dark_fibre}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Active Point-to-Point CSDM/ DWDM"
        @form="cwdm-dwdm"
        @product={{productsByCategory.cwdm_dwdm}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Active Point-to-Point Fibre Channel"
        @form="fibre-channel"
        @product={{productsByCategory.fibre_channel}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Unmanaged Layer 2 VPN - Ethernet"
        @form="l2vpn-ethernet"
        @product={{productsByCategory.l2vpn_ethernet}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Unmanaged Layer 3 VPN - IP over Ethernet"
        @form="unmanaged-l3vpn"
        @product={{productsByCategory.unmanaged_l3vpn}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Managed Layer 3 VPN - IP over Ethernet"
        @form="managed-l3vpn"
        @product={{productsByCategory.managed_l3vpn}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Low-cost Managed L3VPN - IP over Ethernet"
        @form="lowcost-l3vpn"
        @product={{productsByCategory.lowcost_l3vpn}}
      >
      </TelcoProductRow>
    </TelcoProductStack>
    <br>
    <TelcoProductStack @title="Internet Services" @id="internet-services">
      <TelcoProductRow
        @name="Core Internet Uplink"
        @form="core-internet"
        @product={{productsByCategory.core_internet}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Peering Access"
        @form="peering-access"
        @product={{productsByCategory.peering_access}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Internet Access"
        @form="internet-access"
        @product={{productsByCategory.internet_access}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Core Internet Option - Firewall"
        @form="internet-firewall"
        @product={{productsByCategory.internet_firewall}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Core Internet Option - DNS"
        @form="internet-dns"
        @product={{productsByCategory.internet_dns}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Core Internet Option - Content Filtering"
        @form="web-filtering"
        @product={{productsByCategory.web_filtering}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Core Internet Option - Email Protection"
        @form="email-protection"
        @product={{productsByCategory.email_protection}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Reverse Proxy"
        @form="reverse-proxy"
        @product={{productsByCategory.reverse_proxy}}
      >
      </TelcoProductRow>
    </TelcoProductStack>
    <br>
    <TelcoProductStack @title="Voice Services" @id="voice-services">
      <TelcoProductRow
        @name="SIP Trunk"
        @form="sip-trunk"
        @product={{productsByCategory.sip_trunk}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="ISDN - Basic Rate Access"
        @form="isdn-basic"
        @product={{productsByCategory.isdn_basic}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="ISDN - Primary Rate Access"
        @form="isdn-primary"
        @product={{productsByCategory.isdn_primary}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="PSTN Lines"
        @form="pstn-lines"
        @product={{productsByCategory.pstn_lines}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Direct In-Dial Number Blocks"
        @form="number-block"
        @product={{productsByCategory.number_block}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Inbound Calling Service"
        @form="inbound-call"
        @product={{productsByCategory.inbound_call}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Outbound Calling Service"
        @form="outbound-call"
        @product={{productsByCategory.outbound_call}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Enterprise Voice Only (PABX Replacement)"
        @form="pabx-replacement"
        @product={{productsByCategory.pabx_replacement}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Unified Communications"
        @form="unified-communications"
        @product={{productsByCategory.unified_communications}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Call Centre"
        @form="call-centre"
        @product={{productsByCategory.call_centre}}
      >
      </TelcoProductRow>
    </TelcoProductStack>
    <br>
    <TelcoProductStack @title="Mobile Services" @id="mobile-services">
      <TelcoProductRow
        @name="Sim + Device Plan"
        @form="sim-device"
        @product={{productsByCategory.sim_device}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Data Pool"
        @form="data-pool"
        @product={{productsByCategory.data_pool}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Sim Only"
        @form="sim-only"
        @product={{productsByCategory.sim_only}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Voice Pool"
        @form="voice-pool"
        @product={{productsByCategory.voice_pool}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Device `as-a-Service`"
        @form="device-service"
        @product={{productsByCategory.device_service}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Device (outright)"
        @form="device-outright"
        @product={{productsByCategory.device_outright}}
      >
      </TelcoProductRow>
      <TelcoProductRow
        @name="Mobile Device Management"
        @form="mobile-device"
        @product={{productsByCategory.mobile_device}}
      >
      </TelcoProductRow>
    </TelcoProductStack>
    <br>
    <br>
    <TelcoProductStack @title="Common Services" @id="common-services">
      <div class="inner">
        <Accordion @title="Common Services Description">
          <p>
            Common Services provides a definition for the required interface between a Supplier, the Eligible Customer and the Contract Authority across service towers and services. This definition is based on the ITIL v3 framework which provides an industry standard structure for the capture of this critical operational interface. However, the Supplier is not mandated to follow ITIL v3 internally in relation to its approach to Service Management.
          </p>
          <p>
            Unless stated otherwise, all service towers and the services they contain must comply with the operational interface defined in this Common Services Service Catalogue. This is to ensure clarity on the responsibilities of the Suppliers, the Eligible Customers, and the Contract Authority and ensure that an appropriate level of operational maturity is in place across the system.
          </p>
          <p>
            The figure below illustrates the intended relationship between the Supplier, the Eligible Customer and the Contract Authority (DFSI).
          </p>
          <p>
            These processes are expected to continually evolve with the Eligible Customers' business requirements and industry technology changes. It is expected that the Supplier will work proactively with the Eligible Customer and Contract Authority to ensure that all processes are fit for purpose.
          </p>
          <p>
            It is expected that individual services may be consumed from different Suppliers, and that all services will be delivered in a modular fashion to facilitate that.
          </p>
          <p>
            The operational interface defined within this catalogue must meet the requirements for Common Services defined in the Requirements Schedule.
          </p>
          <p>
            This catalogue defines the minimum requirement for the operational interface between the Eligible Customer and Service provider. Suppliers are at liberty to offer and provide additional service capability above and beyond this minimum requirement.
          </p>
        </Accordion>

        <p class="au-callout">
          <p>To view the complete service description for the Common Services according to the TPA, please download it here:</p>
          <br>
          <p>
            <b>
              <a
                target="_blank"
                rel="noopener"
                href="/_/Part-B1-Service-Description-Common-Services.pdf"
              >
                Service Description - Common Services
              </a>
            </b>
            (PDF, 520kb)
          </p>
        </p>
      </div>
      <br>
      <br>
    </TelcoProductStack>
    <br>
  </div>
</TemplateBody>
